@import '~@digg/design-system/lib/sass/variables';

// NewsListPage
.article-list {
  ul:not(.pagination-wrapper) {
    list-style: none;
    padding: 0px;
    margin: 0rem;

    li {
      display: flex;
      flex-direction: column;
      padding-top: $space-4;
      padding-bottom: $space-6;

      border-bottom: 1px solid $clr-gray800;

      span {
        color: $clr-gray500;
      }

      a {
        margin-top: $space-2;
        margin-bottom: $space-2;
        width: fit-content;

        &:hover {
          text-decoration: none;
        }
      }

      p {
        margin-top: 0rem;
        margin-bottom: 0rem;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }
    }
  }
  .article-list--pagination {
    display: flex;
    justify-content: center;
    margin-top: $space-4;

    button{
      border-radius: 0;
    }

    div {
      &:first-child > button {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-child > button {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }

    button{
      border-radius: 0;
    }

.article-list .articleblock{
  ul:not(.pagination-wrapper) {
    list-style: none;
    padding: 0px;
    margin: 0rem;
    margin-top: $space-4;
    display: grid;
    grid-auto-columns: auto;
    grid-gap: $space-2;

    li {
      display: flex;
      flex-direction: column;
      border: 1px solid transparent;
      padding: 1rem;

      span {
        color: $clr-gray500;
        margin-bottom: 0;
      }

      &:last-child > button {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }
  }
}

// NewsPage
.news-article {
  // margin-top: $space-2;

  p.preamble {
    margin-bottom: 1.5rem;
  }

  iframe {
    max-width: 100%;
  }

  .news-article-page-img {
    margin: 1rem 0;
  }

  p {
    margin-top: 0rem;
  }

  p {
    img {
      margin-bottom: 0rem;
    }

    em {
      font-style: italic;
    }
  }

  h1 {
    margin-top: 0rem;
    margin-bottom: $space-2;
  }

  h2 {
    margin-top: $space-2;
    margin-bottom: $space-6;

    font-weight: bold;
    font-size: 2rem; //32px
    line-height: 2.5rem; //40px
    letter-spacing: -0.03em;
    color: $clr-white;
  }

  h3 {
    margin-top: $space-2;
    margin-bottom: $space-4;
    font-weight: bold;
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    letter-spacing: -0.02em;
    color: $clr-white;
  }

  h4 {
    margin-top: $space-2;
    margin-bottom: $space-2;
    font-weight: bold;
    font-size: 1.25rem; //20px
    line-height: 1.75rem; //28px
    letter-spacing: -0.01em;
    color: $clr-white;
  }

  ul,
  ol {
    margin-bottom: $space-6;
  }
}

.currentpage-tracker {
  display: flex;
  justify-content: center;
  margin-top: $space-6;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: $space-6;
}

.pagination-wrapper li:not(.previous, .next) {
  display: none;
}

.pagination-wrapper li {
  display: flex;
  align-items: center;
  margin-left: $space-2;
  margin-right: $space-2;
  margin-bottom: $space-4;
  a {
    min-width: 7.188rem;
  }
}

.pagination-wrapper li {
  &.disabled a {
    color: #aaa;
    border-color: #aaa;
    background-color: #ffffff;
    cursor: default;
  }
}

.related-content{
  margin-top: 8rem;
}