@import '~@digg/design-system/lib/sass/variables';

.domain-page {
  margin: auto;
  transition: all 0.2s ease;

  .domain-page__header {
    display: flex;
    flex-direction: row;
    margin-top: $space-4;
    margin-bottom: $space-12;

    @media screen and (min-width: $media-lg) {
      margin-top: 4.5rem;
    }

    .domain-page__preamble {
      width: auto;
      @media screen and (min-width: $media-xl) {
        max-width: 46.063rem; //737 px
      }
    }
    .domain-page__top-image {
      visibility: hidden;
      width: 0;

      @media screen and (min-width: $media-lg) {
        visibility: visible;
        max-width: 33%;
        min-width: 33%;
      }
    }

    .domain-page__header-heading {
      width: 100%;
      padding-top: $space-4;

      h1 {
        margin-top: 0;
      }

      p {
        margin-top: 0;
      }
    }
  }

  .domain-page__link-block {
    visibility: hidden;
    height: 0;
    margin-top: $space-16;
    svg {
      height: 0;
    }
    li {
      height: 0;
    }
    @media screen and (min-width: $media-lg) {
      visibility: visible;
      height: auto;
      svg {
        height: $space-14;
      }
      li {
        height: auto;
        min-height: 4.625rem;
        display: flex;
      }
    }
  }

  .domain-page__theme-block {
    margin-bottom: 1rem;
    @media screen and (min-width: $media-lg) {
      margin-bottom: 7.5rem;
    }
  }

  .domain-page__textblock {
    max-width: 100%;
    @media screen and (min-width: $media-lg) {
      max-width: 46.063rem; //737px;
    }

    p{
      margin-top: 0;
    }
  }

  .domain-page__show_more--link {
    display: flex;
    align-items: flex-end;
    margin-top: $space-12;
    margin-bottom: $space-4;
    h2,
    a {
      margin: 0;
    }
    a {
      text-decoration: underline;
      text-underline-offset: 0.125rem;
      margin-left: $space-6;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.gradient {
  position: relative;
  z-index: 0;
  &::before {
    content: '';
    min-height: 175vh;
    position: absolute;
    width: 100%;
    top: -4rem;
    background: radial-gradient(209.41deg, rgba(160, 91, 81, 0.65) 0%, rgba(33, 33, 33, 0.6) 500px);
    z-index: -10;

    /* Mobile gradient */
    background: radial-gradient(
        circle at 90% 10%,
        rgba(160, 91, 81, 0.505) 0%,
        rgba(33, 33, 33, 0.623) 60%
      ),
      //Top right
      radial-gradient(
          circle at 50% 60%,
          rgba(160, 91, 81, 0.65) 0%,
          rgba(33, 33, 33, 0.6) 50%
        ); //Center

    @media screen and (min-width: $media-lg) {
      background: radial-gradient(
          circle at 90vw 10%,
          rgba(160, 91, 81, 0.408) 0%,
          rgba(33, 33, 33, 0.688) 25%
        ),
        //Top right
        radial-gradient(
            circle at 62vw 43vh,
            rgba(160, 91, 81, 0.595) 0%,
            rgba(33, 33, 33, 0.343) 20%
          ),
        //Middle
        radial-gradient(
            circle at 48vw 60vh,
            rgba(160, 91, 81, 0.735) 0%,
            rgba(33, 33, 33, 0) 25%
          ); //Center
    }

    background-size: 100vw 75vh;
    background-repeat: no-repeat;
  }
}
