@import '~@digg/design-system/lib/sass/variables';

// Style for search categories on startpage
.categoriesnav__wrapper {
  .startpage-categories {
    display: flex;
    flex-direction: column;

    h2 {
      color: $clr-white;
      margin-top: $space-8;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0rem;

      li {
        margin-bottom: $space-2;
        background-color: $clr-gray800;
        border-radius: $space-16;
        padding: $space-2 $space-4;
        margin-right: $space-2;
        pointer-events: none;
        transition: all 0.15s ease-in-out;

        &:hover {
          background-color: $clr-gray700;
        }
        a {
          color: $clr-white;
          pointer-events: auto;

          text-decoration: underline transparent;
          transition: text-decoration-color 150ms;

          &:hover {
            text-decoration-color: $clr-white;
          }

          &:focus {
            @include focusStyleLight;
          }
        }
      }
    }
  }
}
