@import '~@digg/design-system/lib/sass/variables';

header {
  border-bottom: 1px solid $clr-gray300;
  position: relative;
}

.dataportal-logo {
  svg {
    max-width: 90vw;
  }
  &:focus {
    @include focusStyle;
  }
}

.header-box {
  padding-top: $space-4;
  padding-bottom: $space-4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  transition: padding 0.25s ease;
  z-index: 1000;

  @media screen and (min-width: $media-sm) {
    padding-top: $space-6;
    padding-bottom: $space-6;
  }

  svg {
    width: 12rem;

    @media screen and (min-width: $media-sm) {
      width: 18.75rem;
    }
  }
}

.header-links {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: $media-md) {
    display: flex;
    flex-wrap: nowrap;
  }

  .header-link {
    font-family: Ubuntu !important;
    color: $clr-gray900;
    font-size: 16px;
    margin-top: $space-6;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    word-break: keep-all;
    margin-left: $space-8;

    &:hover {
      border-color: $clr-pink200;
    }

    &:focus {
      @include focusStyle;
    }

    //Style for active NavLink
    &.active {
      text-decoration: none;
      border-bottom: 2px solid $clr-pink600;
    }

    @media screen and (min-width: $media-sm) {
      font-size: 18px;
      margin-top: 0;
    }

    @media screen and (min-width: $media-md) {
      &.header-link--top {
        position: absolute;
        top: -2.75rem;
        right: 0;
        font-size: 14px;
        color: #4f4f4f;
        border-bottom: 1px solid #4f4f4f;
        padding-bottom: 0;
        margin-top: 0.5rem;

        &:hover {
          border-color: $clr-pink200;
        }
      }
    }
  }
}

.menu-bg {
  position: absolute;
  top: 5.875rem;
  left: 0;
  height: 110vh;
  width: 100%;
  z-index: 3800;
  background-color: $clr-gray200;
  display: none;
}

.menu-bg--active {
  display: block;
}

.click-outside {
  height: 100%;
  width: 100%;
  min-height: 200px;

  @media screen and (min-width: $media-md) {
    display: none;
  }
}

.header-links--active {
  z-index: 4000;
  position: absolute;
  height: 100vh;
  top: 5.875rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @media screen and (min-width: $media-md) {
    display: none;
  }

  .header-link {
    width: 100%;
    padding: $space-4;
    background-color: $clr-white;
    color: $clr-gray900;
    margin-bottom: 2px;
    text-decoration: none;
    border-left: 0px solid $clr-pink600;

    &:hover {
      border-left: 5px solid $clr-pink300;
      transition: 0.1s;
    }

    &:focus {
      outline-offset: -2px !important;
    }

    &:first-of-type {
      margin-top: 2px;
    }
  }

  .link-btn {
    width: 100%;
    padding: 1rem;
    background-color: $clr-gray300;
    display: flex;
    justify-content: flex-start;
    border: none;
  }

  .active {
    border-left: 5px solid $clr-pink600;

    &:hover {
      border-color: $clr-pink600;
    }
  }
}
