@import "~@digg/design-system/lib/sass/variables";

header {
  border-bottom: 1px solid $clr-gray600;
  background-color: transparent;
  // margin-top: calc($space-4 + $space-1);
  z-index: 10;
  position: relative;

  .header-wrapper {
    position: relative;
    max-width: 82rem;
    margin: 0 auto;
    padding: 1rem 0;
    z-index: 5;
    transition: padding 0.1s;

    &.show-search {
      padding-bottom: 272px;
      z-index: 0;
    }

    @media screen and (min-width: $media-lg) {
      padding: 1.25rem 0;

      &.show-search {
        padding-bottom: 182px;
      }
    }
  }
}

.dataportal-logo {
  svg {
    max-width: 90vw;
    margin-left: $space-4;
  }
  &:focus {
    @include focusStyleLight;
  }
}

.header-top {
  // max-width: calc(100% - 2rem);
  margin: 0 20px !important;
  display: flex;
  justify-content: space-between;
  transition: padding 0.25s ease;
  z-index: 10000;
  margin: auto;

  svg {
    @media screen and (min-width: $media-sm) {
      width: 18.75rem;
    }
  }

  .top-nav {
    display: flex;
    align-items: center;
    & > ul {
      display: flex;
      flex-direction: row;
      gap: $space-8;
      list-style: none;
      margin: 0;

      & .top-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $space-2;
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        cursor: pointer;
        &:hover {
          border-color: $clr-pinkPop;
          .svg {
            filter: invert(50%) brightness(175%) grayscale(100%);
          }
        }

        &_text {
          display: none;
          @media screen and (min-width: $media-sm) {
            display: block;
          }
        }

        &.active {
          border-color: $clr-pinkPop;
        }
      }
      .svg {
        filter: invert(50%) brightness(125%) grayscale(100%);
      }
    }
  }
}

.dataportalen-logo {
  width: 135px;
  height: 26px;
  margin-right: auto;
  display: none;

  @media screen and (min-width: "600px") {
    display: block;
    width: 228px;
    height: 44px;
  }
  @media screen and (min-width: "370px") {
    display: block;
  }
}

.header-links {
  display: none;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  gap: $space-8;

  @media screen and (min-width: $media-lg) {
    margin: 0 !important;
  }

  .main-nav .header-link {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    display: none;
    @media screen and (min-width: "600px") {
      display: block;
    }
  }

  &.text-base {
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
  }

  @media screen and (min-width: $media-lg) {
    display: flex;
    flex-wrap: nowrap;
  }

  .search-link {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    height: 1.5rem;
    transition: all 0.25s ease;
    color: white;

    &:hover {
      border-color: $clr-pinkPop;
    }

    .search-link--icon {
      margin-right: $space-2;
      filter: invert(50%) brightness(125%) grayscale(100%);
    }

    @media screen and (min-width: $media-sm) {
      display: flex;
    }
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 20px;
    gap: $space-6;

    @media screen and (max-width: $media-lg) {
      display: none;
    }
    .header-link {
      font-family: Ubuntu !important;
      color: white;
      margin-top: $space-6;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      padding-bottom: 2px;
      white-space: nowrap;
      transition: all 0.25s ease;

      &:hover {
        border-color: $clr-pinkPop;
      }

      //Style for active NavLink
      &.active {
        text-decoration: none;
        border-bottom: 3px solid $clr-pinkPop;
      }

      @media screen and (min-width: $media-sm) {
        margin-top: 0;
      }

      @media screen and (min-width: $media-md) {
        &.header-link--top {
          position: absolute;
          top: 2.5rem;
          right: -12px;
          font-size: 14px;
          color: white;
          border-bottom: 1px solid $clr-gray600;
          padding-bottom: 0;
          margin-top: 0.5rem;

          &:hover {
            border-color: $clr-pink200;
          }
        }
      }
    }
  }
}

.search-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 28px;
  color: white;
  gap: 8px;
  border: 2px solid #f49383;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    border: 2px solid #ffffff;
  }

  @media screen and (min-width: 600px) {
    height: 48px;
    padding: 0 20px;
  }
}

.global-search {
  opacity: 0;
  padding: $space-6;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: $clr-gray900;
  border-top: 1px solid $clr-gray600;
  transition: unset;
  z-index: -1;

  &.visible {
    transition: opacity 0.1s ease-in;
    opacity: 1;
  }

  .radio_wrapper {
    flex-direction: column;

    @media screen and (min-width: $media-lg) {
      flex-direction: row;
    }
  }

  form {
    margin: auto;
    max-width: 700px;
  }

  fieldset {
    margin-top: $space-4;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 12px;
  z-index: 10000;
  @media screen and (min-width: "600px") {
    margin-top: 20px;
  }

  .main-nav {
    display: none;
    gap: 24px;
    padding: 0 20px;
    @media screen and (min-width: "1090px") {
      display: flex;
      gap: 24px;
    }
  }
}

.header-bottom-box {
  display: flex;
}

.searchAndMenu {
  display: flex;
  gap: 12px;
  @media screen and (min-width: "600px") {
    gap: 20px;
  }
}

.header-bottom-logo {
  margin-left: 0px !important;
}
