@import "~@digg/design-system/lib/sass/variables";

header {
  border-bottom: 1px solid $clr-gray600;
  background-color: transparent;
  // margin-top: calc($space-4 + $space-1);
  z-index: 10;
  position: relative;

  .header-wrapper {
    position: relative;
    max-width: 82rem;
    margin: 0 auto;
    padding: 1rem 0;
    z-index: 5;
    transition: padding 0.1s;

    &.show-search {
      padding-bottom: 272px;
      z-index: 0;
    }

    @media screen and (min-width: $media-lg) {
      padding: 1.25rem 0;

      &.show-search {
        padding-bottom: 182px;
      }
    }
  }

  .header__mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 5.875rem);
    margin-top: $space-8;

    a {
      margin-bottom: $space-8;
      transform: scale(1);
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    .header__mobile-menu_link {
      color: $clr-pinkPop;
    }

    .link-btn {
      display: flex;
      justify-content: center;
      background-color: $clr-gray800;
    }
  }
}

.dataportal-logo {
  svg {
    max-width: 90vw;
    margin-left: $space-4;
  }
  &:focus {
    @include focusStyleLight;
  }
}

.main-bar {
  transition: padding 0.25s ease;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: auto;
  justify-content: flex-start;
}

.main-bar__right-menu {
  display: flex;
}

.open-close-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: auto;
  z-index: 999999999;

  &:hover {
    cursor: pointer;
  }
}

.header-top {
  // max-width: calc(100% - 2rem);
  margin: 0 20px !important;
  display: flex;
  justify-content: space-between;
  transition: padding 0.25s ease;
  z-index: 10000;
  margin: auto;

  svg {
    @media screen and (min-width: $media-sm) {
      width: 18.75rem;
    }
  }

  .right-bar-item {
    display: none;

    @media screen and (min-width: $media-lg) {
      display: block;
    }
  }
}

.globe-icon {
  display: block;

  @media screen and (min-width: $media-lg) {
    display: block;
  }
}
.start-link {
  font-size: 18px;
  transition: all 0.25s ease;

  @media screen and (min-width: $media-xl) {
    padding-right: $space-12;
  }

  a {
    color: $clr-white;
    text-decoration: none;
  }

  .start-link-text {
    font-size: 1rem;
    margin-right: 1rem;
    @media screen and (min-width: $media-sm) {
      font-size: 1.25rem;
    }

    @media screen and (min-width: $media-xl) {
      margin-right: 0rem;
    }
  }
}

.dataportalen-logo {
  width: 135px;
  height: 26px;
  margin-right: auto;
  display: none;

  @media screen and (min-width: "600px") {
    display: block;
    width: 228px;
    height: 44px;
  }
  @media screen and (min-width: "370px") {
    display: block;
  }
}

.header-links {
  display: none;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  gap: $space-8;

  @media screen and (min-width: $media-lg) {
    margin: 0 !important;
  }

  .main-nav .header-link {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    display: none;
    @media screen and (min-width: "600px") {
      display: block;
    }
  }

  &.text-base {
    flex-wrap: wrap;
    margin: 0;
    gap: 20px;
  }

  @media screen and (min-width: $media-lg) {
    display: flex;
    flex-wrap: nowrap;
  }

  .search-link {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    height: 1.5rem;
    transition: all 0.25s ease;
    color: white;

    &:hover {
      border-color: $clr-pinkPop;
    }

    .search-link--icon {
      margin-right: $space-2;
      filter: invert(50%) brightness(125%) grayscale(100%);
    }

    @media screen and (min-width: $media-sm) {
      display: flex;
    }
  }
  .mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 20px;
    gap: $space-6;

    @media screen and (max-width: "1065px") {
      display: none;
    }
    .header-link {
      font-family: Ubuntu !important;
      color: white;
      margin-top: $space-6;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      padding-bottom: 2px;
      white-space: nowrap;
      transition: all 0.25s ease;

      &:hover {
        border-color: $clr-pinkPop;
      }

      //Style for active NavLink
      &.active {
        text-decoration: none;
        border-bottom: 3px solid $clr-pinkPop;
      }

      @media screen and (min-width: $media-sm) {
        margin-top: 0;
      }

      @media screen and (min-width: $media-md) {
        &.header-link--top {
          position: absolute;
          top: 2.5rem;
          right: -12px;
          font-size: 14px;
          color: white;
          border-bottom: 1px solid $clr-gray600;
          padding-bottom: 0;
          margin-top: 0.5rem;

          &:hover {
            border-color: $clr-pink200;
          }
        }
      }
    }
  }
}

.menu-bg {
  position: absolute;
  top: 3.6rem;
  left: 0;
  height: 110vh;
  width: 100%;
  z-index: 3800;
  background-color: $clr-gray900;
  display: none;
}

.menu-bg--active {
  display: block;
}

.click-outside {
  height: 100%;
  width: 100%;
  min-height: 200px;

  @media screen and (min-width: $media-md) {
    display: none;
  }
}

.header__bottom-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100% - 2rem);

  &--link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: $space-2;
    margin-left: $space-2;

    .search-link--icon {
      margin-right: $space-2;
      svg {
        visibility: visible;
        height: 20px;
        width: 20px;
        @media screen and (min-width: $media-md) {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}

.header-links--active {
  z-index: 4000;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  overflow-y: auto;

  @media screen and (min-width: $media-lg) {
    display: none;
  }

  .link-btn {
    width: 100%;
    padding: 1rem;
    background-color: $clr-gray300;
    display: flex;
    justify-content: flex-start;
    border: none;
  }

  .active {
    border-left: 5px solid $clr-pink600;

    &:hover {
      border-color: $clr-pink600;
    }
  }

  svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.search-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 28px;
  color: white;
  gap: 8px;
  border: 2px solid #f49383;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    border: 2px solid #ffffff;
  }

  @media screen and (min-width: 600px) {
    height: 48px;
    padding: 0 20px;
  }
}

.global-search {
  opacity: 0;
  padding: $space-6;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: $clr-gray900;
  border-top: 1px solid $clr-gray600;
  transition: unset;
  z-index: -1;

  &.visible {
    transition: opacity 0.1s ease-in;
    opacity: 1;
  }

  .radio_wrapper {
    flex-direction: column;

    @media screen and (min-width: $media-lg) {
      flex-direction: row;
    }
  }

  form {
    margin: auto;
    max-width: 700px;
  }

  fieldset {
    margin-top: $space-4;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 12px;
  z-index: 10000;
  @media screen and (min-width: "600px") {
    margin-top: 20px;
  }

  .main-nav {
    display: none;
    gap: 24px;
    padding: 0 20px;
    @media screen and (min-width: "1090px") {
      display: flex;
      gap: 24px;
    }
  }
}

.header-bottom-box {
  display: flex;
}

.searchAndMenu {
  display: flex;
  gap: 12px;
  @media screen and (min-width: "600px") {
    gap: 20px;
  }
}

.header-bottom-logo {
  margin-left: 0px !important;
}
