@import '~@digg/design-system/lib/sass/variables';
.articleblock {
  margin-bottom: $space-16;

  padding: 0;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: $space-6;
    justify-content: space-between;

    span {
      border-bottom: none;
    }
    padding: 0;
    li {
      margin-bottom: $space-4;
      max-width: unset;
      background-color: transparent;
      width: inherit;
      margin-bottom: $space-4;
      max-width: unset;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media screen and (min-width: $media-sm) {
        max-width: calc(80rem/3);
      }      

      &.brownTheme {
        background-color: $clr-brown200;
      }
      &.darkTheme {
        background-color: $clr-gray900;
        a,
        p {
          color: $clr-white;
        }
      }
      &.grayTheme {
        background-color: $clr-gray300;
      }
      &.greenTheme {
        background-color: $clr-green300;
      }
      &.lightGreenTheme {
        background-color: $clr-green200;
      }
      &.orangeTheme {
        background-color: $clr-orange300;
      }
      &.lightOrangeTheme {
        background-color: $clr-orange200;
      }
      &.pinkTheme {
        background-color: $clr-pink300;
      }
      &.lightPinkTheme {
        background-color: $clr-pink200;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(1.01);

        a {
          text-decoration: none;
        }
      }

      &.simpleTextWithButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .news-text {
          color: white;
          height: auto;
          a {
            color: white;
          }
        }

        .news-text--heading {
          margin-bottom: 1rem;
        }

        &:hover {
          cursor: unset;
        }
      }

      .news-img {
        position: relative;

        img{
          object-fit: cover;
        }

        &::before {
          content: "";
          display: block;
          height: 0;
          width: 0;
          padding-bottom: calc(9/16 * 100%); //Preserve 16:9 ratio
        }

        @media screen and (min-width: $media-sm) {
          height: auto;
          min-height: 14.414rem;

          &::before {
            content: none;
          }
        }
      }

      .no-image{
        background-color: $clr-gray800;
      }

      .news-text {
        height: 50%;
        padding-bottom: $space-6;

        .news-top-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: $space-2 0 $space-1 0;

          span{
            color: $clr-gray500;
          }
        }
        a {
          color: white;
          display: inline-block;
          margin-bottom: 0.5rem;
          margin-top: 0;
        }
        p {
          padding: 0;
        }
      }

      h3 {
        color: $clr-white;

        a {
          color: $clr-white;
        }
      }

      p {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-bottom: $space-2;
        hyphens: auto;
      }

      @media screen and (min-width: $media-sm) {
        margin-bottom: 0;
      }
    }
  }
}
