@import '~@digg/design-system/lib/sass/variables';
.articleblock {
  margin-bottom: 6rem;
  padding: 0;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    span {
      border-bottom: none;
    }
    padding: 0;
    li {
      min-height: 25rem;
      margin-bottom: $space-4;
      max-width: unset;
      background-color: $clr-gray300;
      width: inherit;
      margin-bottom: $space-4;
      max-width: unset;
      display: flex;
      flex-direction: column;

      &.brownTheme {
        background-color: $clr-brown200;
      }
      &.darkTheme {
        background-color: $clr-gray900;
        a,
        p {
          color: $clr-white;
        }

        a:focus {
          outline-color: $clr-white !important;
        }
      }
      &.grayTheme {
        background-color: $clr-gray300;
      }
      &.greenTheme {
        background-color: $clr-green300;
      }
      &.lightGreenTheme {
        background-color: $clr-green200;
      }
      &.orangeTheme {
        background-color: $clr-orange300;
      }
      &.lightOrangeTheme {
        background-color: $clr-orange200;
      }
      &.pinkTheme {
        background-color: $clr-pink300;
      }
      &.lightPinkTheme {
        background-color: $clr-pink200;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(1.01);

        a {
          text-decoration: none;
        }
      }

      &.simpleTextWithButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .news-text {
          height: auto;
        }

        .news-text--heading {
          margin-bottom: 1rem;
        }

        &:hover {
          cursor: unset;
        }
      }

      .news-img {
        position: relative;
        height: 12rem;
      }

      .news-text {
        height: 50%;
        padding: $space-4;
        padding-bottom: $space-6;
        .news-text--date {
          display: inline-block;
          width: 100%;
        }
        a {
          display: inline-block;
          margin-bottom: 0.5rem;
          margin-top: 0.25rem;
        }
        p {
          padding: 0;
        }
      }

      h3 {
        margin-top: 0.5rem;
        margin-bottom: $space-2;
        color: $clr-gray900;

        a {
          color: $clr-gray900;
        }
      }

      p {
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-bottom: $space-2;
        hyphens: auto;
      }

      @media screen and (min-width: $media-sm) {
        margin-bottom: 0;
        max-width: 25rem;
      }
    }
  }
}
