@import '../general/variables.scss';
@import '~@digg/design-system/lib/sass/variables';

.faqblock {
  .dataportal--accordion {
    &:not(:last-of-type) {

      button,
      dd {
        border-bottom: none;
      }
    }

    dt {
      button {
        &:focus {
          @include focusStyleLight;
        }

        &[aria-expanded="true"] {
          span {
            color: $clr-pinkPop;
          }

          .fade{
            filter: brightness(1);
            img{
              filter: invert(100%) sepia(19%) saturate(1159%) hue-rotate(318deg) brightness(95%) contrast(102%);
            }
          }
        }
      }
    }
  }
}