@import '/styles/general/variables.scss';
.heroblock {
  margin-top: -1rem;
  h1 {
    margin-top: $space-2 !important;
    margin-bottom: 0;
  }
  &.darkTheme {
    background-color: $clr-gray900;
    h1,
    h2,
    h3,
    p,
    span {
      color: $clr-white;
    }
  }
  &.grayTheme {
    background-color: $clr-gray300;
  }
  &.greenTheme {
    background-color: $clr-green300;
  }
  &.lightGreenTheme {
    background-color: $clr-green200;
  }
  &.orangeTheme {
    background-color: $clr-orange300;
  }
  &.lightOrangeTheme {
    background-color: $clr-orange200;
  }
  &.pinkTheme {
    background-color: $clr-pink300;
  }
  &.lightPinkTheme {
    background-color: $clr-pink200;
  }
  .content {
    margin-top: $space-6;
    .text-lg {
      p {
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: -0.01em;
      }
    }
  }
  img {
    background-color: $clr-white;
  }
}
