@import "/styles/general/variables.scss";

.hero {
  max-width: 1920px;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;

  @media screen and (min-width: $media-md) {
    max-height: 500px;
  }

  img{
    min-height: 200px;
    max-height: 400px;
    object-fit: cover;

    @media screen and (min-width: $media-md) {
      max-height: 600px;
    }
  }

  span {
    background-color: transparent;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
