@import '~@digg/design-system/lib/sass/variables';

.linkblock {
  list-style: none;
  padding: 0rem;
  margin-top: $space-12;
  margin-bottom: $space-12;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-4;
    padding-right: $space-2;
    transition: 0.1s;

    &:nth-of-type(1) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(2) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(3) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(4) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(5) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(6) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(7) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(8) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(9) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(10) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(11) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(12) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(13) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(14) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(15) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(16) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(17) {
      background-color: $clr-orange200;
    }

    &:nth-of-type(18) {
      background-color: $clr-orange300;
    }

    &:nth-of-type(19) {
      background-color: $clr-orange400;
    }

    &:nth-of-type(20) {
      background-color: $clr-orange200;
    }

    @media screen and (min-width: $media-sm) {
      padding: 1.313rem;
      padding-right: $space-4;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(98%);
    }

    a {
      display: block;
      color: $clr-gray900;
      text-decoration: none;
      padding-right: $space-4;
      word-break: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    span {
      height: 1.5rem;
      border-bottom: none;

      svg {
        width: fit-content;
      }
    }
  }
}
