@import '~@digg/design-system/lib/sass/variables';

.puffblock {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: $space-4;

  @media screen and (min-width: $media-md) {
    flex-direction: row;
  }

  li {
    display: flex;
    flex-direction: column;  
    transition: 0.1s;
    max-height: fit-content;   
    width: 100%;      
    padding: $space-6;
    justify-content: flex-start;
    
    &:not(:last-child) {
      margin-bottom: $space-6;

      @media screen and (min-width: $media-md){
        margin-bottom: 0;
        margin-right: $space-6;
      }
    }

    .puff-heading{
      display: flex;
      justify-content: space-between;

      span{
        align-self: flex-start;
      } 

      a{
        margin-bottom: 0;
        text-decoration: underline;
      text-decoration-color: $clr-pinkPop;
      }
    }    

    .puff-body{           
      visibility: hidden;
      margin: 0;
      height: 0;
      max-height: 10rem;   
      overflow: hidden;      
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; // max nb lines to show
      -webkit-box-orient: vertical;

      @media screen and (min-width: $media-md) {
        visibility: visible;
        height: 100%;
      }     
    }

    @media screen and (min-width: $media-sm) {
      padding: 1.313rem;
      padding-right: $space-4;
    }

    .theme-svg{
      visibility: hidden;
      height: 0;
    }

    @media screen and (min-width: $media-md) {
      max-width: 33%;
      .theme-svg{
        visibility: visible;
        height: fit-content;
        padding-bottom: 1rem;
      }
      &:not(:last-child) {
        margin-right: $space-6;
      }
    }

    &:hover{
      cursor: pointer;
      filter: brightness(98%);

      a{
        color: $clr-white;
        text-decoration: none;
      }
      svg{
        fill: $clr-white;
      }
    }

    a {
     display: block;
      text-decoration: none;
      word-break: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      transition: color 0.1s ease-in-out;
      align-self: center; 

      &::first-letter{
        text-transform: uppercase;
      }
    }
    svg{
      transition: fill 0.1s ease-in-out;
    }
    span {
      border-bottom: none;      
    }
  }
}

.linkblock{
  padding: 0;  

  li{
    display: flex;    
    margin-bottom: $space-2;
    
    list-style-type: none;    
    &:before {
      content: "";
      display: inline-block;
      width: 1.625rem;
      min-width: 1.625rem;
      height: 1.625rem;
      min-height: 1.625rem;
      margin-right: $space-3;
      background-color: $clr-pinkPop;
    }

    //Fix so that the before element does not get squished when the text is too long in mobile
    span{
      max-width: 85%;      
      @media screen and (min-width: $media-md) {
        max-width: 100%;
      }

      &::first-letter{
        text-transform: uppercase;
      }
    }

    a{
      color: $clr-white;
      text-decoration: underline;       

      transition: 0.1s;
      &:hover{
        color: $clr-white;
        text-decoration: none;
      }
    }
  }
}
