@import '~@digg/design-system/lib/sass/colors.scss';

figure.table {
  margin: 0;

  display: block;
  overflow-x: auto;
  white-space: nowrap;
  table {
    width: 100%;
    min-width: 40rem;
    border-collapse: collapse;
  }
  th {
    background: $clr-gray100;
    font-weight: bold;
    border: 1px solid $clr-gray300;
    text-align: start;
  }
  td,
  th {
    font-size: 0.925rem;
    padding: 2rem 0.5rem;
    border: 1px solid $clr-gray300;
  }
}
