@use 'styles/general/typography';
@import '~@digg/design-system/lib/sass/variables';

//style for searchfilter
.search-filter--text {
  margin-top: 0;
  margin-bottom: 8px;
}

.search-filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-12;
}

@media screen and (max-width: $media-sm) {
  .search-filter-box {
    display: none;
    height: 0px;
    overflow: hidden;
    flex-direction: column;

    .search-filter {
      margin-right: 0px;
    }

    &.show-filter {
      display: block;
      height: auto;
      margin-top: 0;
    }
  }

  .search-filter {
    margin-right: $space-4;

    div {
      padding: 0px;
    }
  }
}

//Filter dropdowns of accordions from designsystem.
.search-filter {
  margin-right: $space-4;
  margin-bottom: $space-4;

  div {
    div:first-of-type {
      button {
        padding-left: 0.75rem;
        padding-right: 0.75rem;

        svg {
          fill: $clr-white;
        }

        /* &:hover {
          background-color: $clr-white !important;
          border-color: $clr-green800;

          svg {
            color: $clr-green800;
          }
        }

        &:focus {
          background-color: $clr-white !important;

          svg {
            color: $clr-white !important;
          }
        } */

        div {
          display: flex;
          justify-content: space-between;

          div:last-of-type {
            width: 22px;
          }

          @media screen and (max-width: $media-sm) {
            width: 100%;
          }
        }

        @media screen and (max-width: $media-sm) {
          /* border-top-color: $clr-white;
          border-right-color: $clr-white;
          border-left-color: $clr-white;
          border-radius: 0;
          border-bottom-color: $clr-gray300;

          &:hover,
          &:focus {
            border-top-color: $clr-white;
            border-right-color: $clr-white;
            border-left-color: $clr-white;
            border-bottom-color: $clr-gray300;
            outline-offset: -4px !important;
          } */

          &[aria-expanded='true'] {
            border: 2px solid $clr-green700;
            border-radius: 2px;
          }
        }
      }
    }

    div:last-of-type {
      padding: 0rem;

      .search-filter-list {
        flex-direction: column;
        max-width: 20rem;
        width: 100%;
        margin-top: -0.625rem;
        margin-bottom: $space-4;
        position: absolute;
        /* -webkit-box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
        box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46); */
        z-index: 10000;
        max-height: 24.7rem;
        overflow-y: auto;

        @media screen and (max-width: $media-sm) {
          width: 91vw;
          max-width: none;
          /* -webkit-box-shadow: 1px 1px 2px 2px rgba(204, 204, 204, 0.65);
          box-shadow: 1px 1px 2px 2px rgba(204, 204, 204, 0.65); */
        }

        //Search within filter
        .filter-search {
          position: relative;

          .filter-search__icon {
            position: absolute;
            right: 0.6rem;
            top: 50%;
            transform: translate(-0%, -50%);

            svg {
              fill: $clr-white;
            }
          }

          .filter-search__input {
            width: 100%;
            padding-left: 0.75rem;
            padding-right: 1.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border: none;
            border-bottom: 2px solid rgba(149, 96, 87, 1); 
            background-color: rgb(59, 47, 45);
            color: white; 
            
            &::placeholder {
              color:white;
              opacity: 1;              
            }

            &:focus {
              outline-offset: -4px !important;
              border-color: $clr-pinkPop;  
              
              &::placeholder {
                color:white;
                opacity: 0.25;              
              }
            }
          }
        }

        //Search within filter - end
        //Check all inside filter
        .filter-checkall {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid $clr-gray500;

          .filter-checkall__btn {
            height: 32px;
            width: fit-content;
            border: 2px solid $clr-gray300;
            border-radius: 2px;

            &:hover {
              border-color: $clr-gray500;
              color: $clr-gray700;
            }
          }

          .filter-checkall__btn--active {
            height: 32px;
            width: fit-content;
            border: 2px solid $clr-gray300;
            border-radius: 2px;

            &:hover {
              border-color: $clr-gray500;
              color: $clr-gray700;
            }
          }
        }

        .filter-btn {
          display: flex;
          justify-content: space-between;
          height: auto;
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid $clr-gray700;
          cursor: pointer;
          margin-bottom: 0px;
          width: 100%;
          overflow-wrap: break-word;
          word-wrap: break-word;
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
          text-align: left;
          color: $clr-white;
          padding-top: 0.9rem;
          padding-bottom: 0.9rem;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          line-height: 1.25;
          background-color: $clr-gray800;

          &:hover {
            background-color: $clr-pinkPop ;
            color: $clr-black;
            .check{
              border-color: $clr-black;;

              &::after {
                border-color: $clr-black;;
              }
            }
          }

          /* &:focus {
            outline-offset: -4px !important;
            background-color: $clr-green300 !important;
            color: #5a5856 !important;
          } */
        }

        .no-filter-hits {
          color: $clr-pinkPop;
          padding-top: 0.9rem;
          padding-bottom: 0.9rem;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          line-height: 1.25;
          background-color: $clr-gray800;
        }

        button.selected {
          background-color: $clr-gray700;
          border-color: $clr-gray800;
        }

        button:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

//Style for selected filter tags.
.selected-filters {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0rem;
  margin: 0rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: $clr-pinkPop;
    height: auto;
    max-height: 52px;
    padding: $space-2;
    margin-right: $space-4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: $space-4;
    min-width: 30px;
    text-align: left;

    svg {
      margin-bottom: -2px;
      fill: $clr-gray900;
    }

    &:hover {
      background-color: $clr-white; 
    }

    &:focus {
      @include focusStyleLight;
    }

    &:active {
      color: $clr-green800;
    }

    span {
      margin-left: 10px;
    }
  }
}

.mobile-filters {
  margin-bottom: $space-4;
  button {
    color: white;
    background-color: transparent;
    border: 1px solid $clr-pinkPop;
    border-radius: 2px;
    padding: $space-1;
    min-width: 5.688rem;
    justify-content: flex-start;
  }

  button svg {
    margin-left: 0.5rem;
    path {
      fill: $clr-pinkPop;
    }
  }
}

@media screen and (min-width: $media-sm) {
  .mobile-filters {
    display: none;
  }
}

.clear-filters {
  display: none;

  button {
    margin-bottom: $space-4;
    background-color: transparent;
    border: 2px solid $clr-pinkPop;
    border-radius: 2px;
    padding: $space-2;
    color: white;
    cursor: pointer;
  }

  &.show {
    display: block;
  }
}

/*style wrapper to give some space*/
.checkbox__wrapper {
  position: relative;
  margin-bottom: $space-4;
  @media screen and (max-width: $media-sm) {
    margin-top: $space-4;
  }
}

/*style label to give some more space*/
.checkbox__wrapper label {
  display: block;
  padding: 12px 0 12px 44px !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

//CUSTOM CHECKBOX FOR API ONLY FILTER
/*style and hide original checkbox*/
.checkbox__wrapper input {
  height: 2.5rem;
  width: 2.5rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

/*position new box*/
.checkbox__wrapper input + label::before {
  border: 2px solid $clr-pinkPop;
  border-radius: 2px;
  content: '';
  height: 2rem;
  width: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  cursor: pointer;
  margin-top: $space-2;
  margin-bottom: $space-2;
}

/*svg background styles*/
.checkbox__wrapper input + label::after {
  content: '';
  opacity: 0;
  -webkit-mask-image: url('/icons/icon_check.svg');
  mask-image: url('/icons/icon_check.svg');
  background-repeat: no-repeat;
  background-color: $clr-white;
  position: absolute;
  height: 1rem;
  width: 1rem;
  left: 0.5rem;
  top: 1rem;
  cursor: pointer;
}

/*Show checked*/
.checkbox__wrapper input:checked + label::after {
  opacity: 1;
}

/*focus styles*/
.checkbox__wrapper input:focus + label::before {
  @include focusStyleLight;
}

.no-focus-outline {
  .checkbox__wrapper input:focus + label::before {
    outline: none;
  }
}

.search-tip__btn {
  @include typography.wordBreak();
  display: flex;
  align-items: center;
  border: none;
  padding: 0rem;
  background-color: transparent;
  text-decoration: underline;
  color: $clr-white;

  &:hover {
    text-decoration: none;
    color: $clr-white;
    cursor: pointer;
  }

  &:focus {
    outline-offset: 0px !important;
  }

  svg {
    fill: $clr-pinkPop;
  }
}

.search-tip__modal {
  display: none;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  border-radius: 2px;

  &.show-tip {
    display: block;
    opacity: 1;
    max-width: 40.1rem;
    width: 100%;
    height: auto;
    background-color: $clr-gray800;
    margin-bottom: 1.5rem;
  }

  .search-tip__modal-wrapper {
    position: relative;
    flex-direction: column;
    padding: $space-4;

    a {
      @include Underline;
    }

    span {
      display: block;

      &.text-7 {
        margin-bottom: 0.5rem;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .close-modal__btn {
      position: absolute;
      height: fit-content;
      padding: 0.25rem;
      top: 0.25rem;
      right: 0.25rem;
      border: none;
      background-color: $clr-orange200;

      &:hover {
        filter: brightness(0.94);
      }

      span {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.check {
  display: block;
  position: relative;
  padding-bottom: 0.75rem;
  margin-left: 0.5rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  border: 0.125rem solid $clr-white;
  border-radius: 0.125rem;
  padding: 0.125rem;
}

.selected {
  .check {
    &::after {
      content: '';
      position: absolute;
      width: 0.68rem;
      height: 0.35rem;
      border-left: 0.125rem solid;
      border-bottom: 0.125rem solid;
      transform: rotate(-45deg);
      padding: 0.125rem;
      border-color: $clr-white;
    }
  }
}

//Search toolbar
.search-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @media screen and (max-width: $media-sm) {
    display: none;
  }
}

//Show more filters
.more-filters-btn {
  border: none;
  color: $clr-white;
  background-color: unset;
  cursor: pointer;
  padding: 0;
  height: max-content;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:hover {
    color: $clr-white;
    text-decoration: none;
  }

  svg {
    margin-left: 0.5rem;
    position: relative;
    top: 1px;
    path {
      fill: $clr-pinkPop;
    }
  }
}

.search-filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: $media-sm) {
    flex-direction: column;
  }
}

//Hide and show more filters
.compact-filters {
  .search-filter:nth-of-type(5),
  .search-filter:nth-of-type(6) {
    display: none;

    @media screen and (max-width: $media-sm) {
      display: block;
    }
  }
}
