//Style for searchresults
@import '~@digg/design-system/lib/sass/variables';

@mixin select-dropdown {
  color: $clr-white;
  margin-left: 0;
  cursor: pointer;
  border: none;
  text-align: left;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  padding-left: 0;
  height: 2.75rem;
  outline-offset: -3px !important;
  border: 1px solid $clr-pinkPop;
  border-radius: 2px;
  margin-right: $space-2;
  padding-left: $space-2;

  option {
    color: $clr-gray900;
  }
  
  &:hover {
    text-decoration: none;
  }

  option:hover {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
    color: #fff;
  }
}

.search-result {
  .search-result-head {
    display: flex;
    justify-content: space-between;
    margin-top: $space-2;
    margin-bottom: $space-2;
    flex-direction: column-reverse;
    align-items: flex-start;

    //Hide and show sorting options depending on showfilter button.
    //showFiler in //SearchFilters.tsx
    @media screen and (max-width: $media-sm) {
      .sorting-options-wrapper {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    //Sorting
    .sorting-options {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      //Column in mobile
      @media screen and (max-width: $media-sm) {
        flex-direction: column;
        align-items: flex-start;
      }

      //Hide sorting-heading labels/spans in desktop
      @media screen and (min-width: $media-sm) {
        .sorting-heading {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }

      //View number of hits
      .search-hits {
        display: flex;
        flex-wrap: nowrap;

        select {
          @include select-dropdown();
          min-width: 120px;
        }
      }

      //Sorting buttons
      //Relevace, last modified
      .search-sort {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        span {
          margin-right: $space-2;
        }

        button {
          padding: 0px;
          padding-left: 12px;
          padding-right: 12px;
          min-width: 0px;
          height: 32px;
          min-width: 50px;
          border-radius: 2px;
          border-color: $clr-green300;
          background-color: $clr-white;
          color: $clr-white;
          transition: border-color ease 0.1s;
          transition: background-color ease 0.1s;

          &:hover {
            border-color: $clr-green500;
          }

          &:focus {
            z-index: 1;
          }

          &:first-of-type {
            margin-right: 0.5rem;
          }
        }

        //Style for sorting results, after relevance or date
        .sort-active {
          background-color: $clr-green300;
        }

        select {
          @include select-dropdown();
        }
      }
    }

    @media screen and (min-width: $media-md) {
      align-items: center;
      flex-direction: unset;
    }
  }

  .search-result-list {
    list-style-type: none;
    min-height: 400px;
    padding: 0px;
    margin: 0px;

    li {
      &:last-of-type {
        margin-bottom: $space-2;
      }

      &.search-result-list-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: $space-4;
        padding-bottom: $space-6;
        background-color: transparent;
        color: $clr-white;
        text-decoration: none;
        border-bottom: 1px solid $clr-gray800;

        &:hover,
        &:focus {
          transition: ease-in-out 0.2s;
        }

        .result-theme {
          margin-bottom: 0px;
          color: $clr-gray500;

          &:empty {
            margin-top: -8px;
          }
        }

        .result-desc:empty {
          display: none;
        }

        //Searchresult link
        a {
          margin-bottom: $space-2;
          margin-top: $space-2;
          text-decoration: none;
          max-width: 850px;
          width: -moz-fit-content;
          width: fit-content;

          &::first-letter {
            text-transform: uppercase;
          }

          h3 {
            //resets the default spacings for headings
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            text-decoration: underline;
            word-break: break-word;
            color: $clr-pinkPop;            

            &:hover {
              text-decoration: none;
              color: $clr-pink700;
            }
          }

          &:focus {
            h3 {
              text-decoration: none;
              color: $clr-pink700;
            }
          }
        }

        //Searchresult title
        h3 {
          margin: 0px;
        }

        //Searchresult description
        p,
        span {
          font-family: Ubuntu !important;
          margin: 0px;
          max-width: 750px;
          margin-bottom: $space-2;
          line-height: $space-6;
          word-break: break-word;

          &:hover {
            text-decoration: none;
          }
        }

        //Searchresult organisation
        .result-org {
          margin-top: 0px;
          margin-bottom: $space-2;

          &:empty {
            display: none;
          }
        }

        //Searchresult formats
        .result-format {
          margin-top: 4px;
          margin-bottom: 4px;
          margin-right: $space-2 !important;
          max-width: none !important;

          span:empty {
            display: none;
          }

          span {
            word-break: break-all;
            display: block;
            font-size: 14px;
            border: 2px solid $clr-gray300;
            border-radius: 0px;
            margin-bottom: 0px;
            text-transform: uppercase;
            padding: 1px 4px;
          }

          //Colors for format badges
          .format{
            border-color: $clr-gray500;
            color: $clr-gray500;
          }
          
          .bc-1 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-2 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-3 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-4 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-5 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-6 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-7 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }

          .bc-8 {
            border-color: $clr-gray500;
            color: $clr-gray500;
          }
        }
      }

      //Search results for specifications
      &.specification {
        a {
          margin-top: 0px;
        }

        p {
          margin-bottom: 0px;
        }
      }
    }
  }
}

// Formats in searchresult
.format-row {
  display: flex;
  flex-wrap: wrap;

  &:empty {
    margin-top: -8px;
  }
}

//For view more results.
.view-more {
  display: flex;
}

.pagination {
  width: 100%;
  position: relative;

  .first-page {
    margin-left: 0px;
    margin-right: 1rem;
  }

  .prev-next-page {
    min-width: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
  }

  span {
    margin-left: $space-4;
    margin-right: $space-4;
  }
}

@media screen and (max-width: $media-sm) {
  .pagination {
    .first-page {
      top: 160px;
      margin: auto;
      position: absolute;
    }

    .prev-next-page {
      flex-direction: column;
      align-items: baseline;

      span {
        margin-top: $space-4;
        margin-bottom: $space-4;
      }
    }

    span {
      margin: $space-2;
    }
  }
}

// Loading dots
.loading:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}

//view-options detaild or compact

.listview-options {
  display: flex;
  align-items: center;

  @media screen and (max-width: $media-sm) {
    margin-bottom: 1.5rem;
  }

  .list-view_btn {
    text-decoration: underline;
    background-color: unset;
    cursor: pointer;
    border: none;
    color: $clr-white;
    outline-offset: -3px !important;
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: $media-sm) {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      margin-left: $space-2;
      rect {
        fill: $clr-pinkPop;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $media-sm) {
  .search-hits,
  .listview-options,
  .search-sort {
    margin-bottom: $space-2;
  }
}

@media screen and (max-width: $media-sm) {
  .search-hits,
  .listview-options,
  .search-sort {
    flex-direction: column;
    align-items: flex-start;
  }
}

//organisation & format row
.search-result-list-item .org-format {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;

  .text-6 {
    color: $clr-gray700;
  }

  .org-format-filebadges {
    display: flex;
    text-transform: uppercase;
    flex-wrap: wrap;

    &:empty {
      display: none;
    }

    @media screen and (min-width: $media-sm) {
      &::before {
        top: 2px;
        position: relative;
        content: '|';
        margin-left: 1rem;
        color: $clr-gray700;
      }
    }

    .file {
      margin-right: 1rem;
      word-break: break-all;

      @media screen and (min-width: $media-sm) {
        margin-left: 1rem;
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $media-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}