//Style for searchbar
@import '~@digg/design-system/lib/sass/variables';

@media screen and (max-width: $media-sm) {
  .search-header {
    font-size: 1.5rem; //24px
    margin-bottom: 1rem;
  }
}

.search-header-wrapper {
  justify-content: space-between;
  max-width: 40.3rem;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;

  button{
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 24rem) {
    flex-direction: row;
    width: auto;

    button{
      align-self: self-end;
    }
    
    h1{
      margin-bottom: $space-4;
    }
  }
}


.search-box {
  margin-bottom: $space-4;
  display: flex;
  position: relative;

  min-width: 12.5rem;
  max-width: 40.3rem;
  .search-label {
    display: none;
  }
  .spinner {
    position: absolute;
    right: -50px;
    top: 16px;
  }

  .spinner{
    display: none;

    @media screen and (min-width: $media-md) {
      display: block;
    }
  }
}

.search-filter{
  .filter-button_mobile{  
    @media screen and (max-width: $media-sm) {  
      border: none;
      border-bottom: 2px solid $clr-pinkPop; 

      &:hover{
        border: none;
        border-bottom: 2px solid $clr-pinkPop;
      }
    }
  }
}