@import '~@digg/design-system/lib/sass/variables';
//Css for searchhead.

.search-head {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  flex-wrap: wrap;
  margin-top: $space-12;

  @media screen and (min-width: $media-md) {
   width: fit-content;
  }

  @media screen and (max-width: $media-sm) {
    margin-top: $space-2;

    div {
      a {
        min-width: 50px !important;
        padding-left: $space-2;
        padding-right: $space-2;
      }
      margin-bottom: $space-2;
    }
  }

  .active {
    font-weight: bold;
    margin-bottom: -1px;
    border-bottom: 3px solid $clr-pinkPop;

    &:hover {
      border-color: $clr-pink600;
    }
  }

  div {
    display: flex;
    justify-content: center;  
    border-bottom: 1px solid $clr-gray600;

    a {
      text-decoration: none;
      //   border-bottom: 2px solid $clr-gray300;
      margin-bottom: -2px;
      padding-bottom: 2px;
      text-align: center;
      color: $clr-white;
      min-width: 149px;

      &:hover {
        transition: border-color 0.2s ease-in-out;
        color: $clr-white;
        border-color: $clr-pink200;
      }
    }
  }
}
