// Style for form pages
@import 'styles/general/variables.scss';
@import '~@digg/design-system/lib/sass/variables';


.form-label-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    .label-body {
        display: flex;
        align-items: flex-start;

        label {
            margin-right: 1rem;
        }
    }
}

.form-divider {
    border-top: 1px solid #757575;
    margin-bottom: 2rem;
}

.form-radio__heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.form-radio__popover {
    margin-bottom: 1rem;
}

.form-radio__mb {
    margin-bottom: 3rem;
}

.form-description__text {
    margin-top: 0;
}

.badge-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.form-heading{
    margin-top:0;
}