@import 'scss/general/variables.scss';

//Statistic containers
.statistic {
    background-color: $brown10;
    display: flex;
    flex-direction: column;
    padding-top: $space-16;
    padding-left: $space-16;
    padding-right: $space-16;
    padding-bottom: 8.75rem;//140px
    margin-bottom: -10rem;

    h2 {
        color: $black100;
    }
}

.statistic-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: center;
    max-width: 72rem;
    width: 100%;
}

.statistic-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-self: center;
    max-width: 72rem;
    width: 100%;

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }

    //Graph
    .statistic-div {
        width: 79%;

        @media screen and (max-width: 800px) {
            width: 70%;
        }

        @media screen and (max-width: 650px) {
            width: 100%;
        }

        a {
            margin-top: $space-16;

            &:hover {
                text-decoration: none;
            }
        }

        .graphbox {
            position: relative;
            display: flex;
            background-color: $white;
            padding: $space-32;
            padding-left: $space-16;
            padding-right: $space-32;
            margin-bottom: $space-16;

            .graph-text {
                position: absolute;
                bottom: $space-32;
                right: 40px;
            }

            .rv-xy-plot__axis__tick {
                text {
                    font-size: 0.875rem;
                }
            }
        }

        .rv-xy-plot__axis--horizontal {
            @media screen and (max-width: 800px) {
                .rv-xy-plot__axis__tick {
                    display: none;
                }

                .rv-xy-plot__axis__tick:first-of-type {
                    display: block;
                }

                .rv-xy-plot__axis__tick:last-of-type {
                    display: block;
                }

                .rv-xy-plot__axis__tick:nth-of-type(4) {
                    display: block;
                }

                .rv-xy-plot__axis__tick:nth-of-type(8) {
                    display: block;
                }
            }

            @media screen and (max-width: 400px) {
                .rv-xy-plot__axis__tick:nth-of-type(4) {
                    display: none;
                }

                .rv-xy-plot__axis__tick:nth-of-type(8) {
                    display: none;
                }
            }
        }
    }
}

//Portal number pixels
.numbers {
    margin-left: $space-24;
    width: 21%;

    @media screen and (max-width: 800px) {
        width: 30%;
    }

    @media screen and (max-width: 650px) {
        width: 100%;
        margin-left: 0px;
        margin-top: $space-24;
    }

    .statistic-numbers {
        display: flex;
        flex-direction: column;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 235px;
            background-color: $white;

            .text-1 {
                color: $green100;
            }

            &:last-of-type {
                margin-top: $space-24;

                .text-1 {
                    color: $dark-orange;
                }
            }
        }
    }
}

// Statistic component - toplist
.toplist {
    display: flex;
    justify-content: center;
    margin-top: $space-24;

    .statistic-toplist {
        display: flex;
        justify-content: center;
        max-width: 72rem;
        width: 100%;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }

        .toplist-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 50%;

            @media screen and (max-width: 650px) {
                width: 100%;
                margin-bottom: $space-8;
            }

            &:first-of-type {
                margin-right: $space-24;
            }

            .top-list {
                background-color: $white;
                padding: $space-16;
                padding-bottom: $space-24;

                ol {
                    counter-reset: section;
                    margin: 0px;

                    li {
                        padding-top: $space-8;
                        padding-bottom: $space-8;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: -40px;

                        &:first-of-type {
                            padding-top: 0px;
                        }

                        &:last-of-type {
                            padding-bottom: 0px;
                        }

                        &::before {
                            counter-increment: section;
                            content: counters(section, ".") ".";
                        }

                        a,
                        span {
                            margin-left: $space-8;
                            width: 90%;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        .list-value {
                            width: 10%;
                            margin-left: $space-8;
                            text-align: end;
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}

//Toplist on statistic page
.statistic-page {
    .toplist {
        margin: 0px;

        .statistic-toplist {
            flex-direction: column;

            .toplist-wrapper {
                margin: 0px;
                width: 100%;
                margin-top: $space-16;
                margin-bottom: $space-16;

                h2 {
                    padding: $space-16;
                    padding-top: $space-8;
                    padding-bottom: $space-8;
                    background-color: $green25;
                    margin: 0px;
                    font-weight: normal;
                }

                .top-list {
                    border: 2px solid $green25;
                    padding: $space-16;
                    padding-bottom: $space-24;
                }

                li {
                    border-bottom: 2px dotted $green25;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

