@import '~@digg/design-system/lib/sass/variables';

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $space-16;
  margin-bottom: $space-2;

  @media screen and (min-width: $media-sm) {
    margin-top: $space-16;
    margin-bottom: $space-16;
  }

  .highlight__illustraitons {
    display: flex;
    gap: $space-8;
    align-items: baseline;
    margin-bottom: $space-6;

    .illustration-container {
      height: 100%;
      width: 200px;
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        display: none;
      }

      @media screen and (min-width: $media-sm) {
        width: 160px;
        &:nth-last-of-type(1) {
          display: block;
        }
      }
      @media screen and (min-width: $media-md) {
        &:nth-last-of-type(2) {
          display: block;
        }
      }
    }
  }

  .highlight__txt {
    max-width: 680px;
    margin-bottom: $space-6;

    h2 {
      @media screen and (min-width: $media-sm) {
        text-align: center;
      }
    }

    p {
      text-align: left;
      margin-top: $space-6;

      @media screen and (min-width: $media-sm) {
        text-align: justify;
      }
    }
  }
}
