@import '~@digg/design-system/lib/sass/colors.scss';

//Theme for grid
.grid:nth-of-type(odd) {
  .content_grid-item {
    &:nth-of-type(1) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }

    &:nth-of-type(2) {
      .content_grid-item-wrapper {
        background-color: $clr-orange400;
      }
    }

    &:nth-of-type(3) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(4) {
      .content_grid-item-wrapper {
        background-color: $clr-pink300;
      }
    }

    &:nth-of-type(5) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(6) {
      .content_grid-item-wrapper {
        background-color: $clr-brown500;
      }
    }

    &:nth-of-type(7) {
      .content_grid-item-wrapper {
        background-color: $clr-pink200;
      }
    }

    &:nth-of-type(8) {
      .content_grid-item-wrapper {
        background-color: $clr-green200;
      }
    }

    &:nth-of-type(9) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(10) {
      .content_grid-item-wrapper {
        background-color: $clr-pink400;
      }
    }

    &:nth-of-type(11) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(12) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }
  }
}

//Themes for grid
.grid:nth-of-type(even) {
  .content_grid-item {
    &:nth-of-type(12) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }

    &:nth-of-type(11) {
      .content_grid-item-wrapper {
        background-color: $clr-orange400;
      }
    }

    &:nth-of-type(10) {
      .content_grid-item-wrapper {
        background-color: $clr-brown200;
      }
    }

    &:nth-of-type(9) {
      .content_grid-item-wrapper {
        background-color: $clr-pink300;
      }
    }

    &:nth-of-type(8) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(7) {
      .content_grid-item-wrapper {
        background-color: $clr-brown500;
      }
    }

    &:nth-of-type(6) {
      .content_grid-item-wrapper {
        background-color: $clr-pink200;
      }
    }

    &:nth-of-type(5) {
      .content_grid-item-wrapper {
        background-color: $clr-green200;
      }
    }

    &:nth-of-type(4) {
      .content_grid-item-wrapper {
        background-color: $clr-green500;
      }
    }

    &:nth-of-type(3) {
      .content_grid-item-wrapper {
        background-color: $clr-pink400;
      }
    }

    &:nth-of-type(2) {
      .content_grid-item-wrapper {
        background-color: $clr-orange200;
      }
    }

    &:nth-of-type(1) {
      .content_grid-item-wrapper {
        background-color: $clr-green300;
      }
    }
  }
}
