@use 'styles/general/typography';
@import 'styles/general/variables.scss';
@import '~@digg/design-system/lib/sass/variables.scss';

.content {
  max-width: 46.063rem; //737px //46rem

  h1 {
    margin-top: $space-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    word-break: break-word;
  }

  p,
  span,
  li{
    word-break: break-word;
  }

  p{
    margin-top: 0;
  }

  pre > code {
    word-break: break-word;
    display: inline-block;
    max-width: 100%;
    white-space: normal;
  }

  .date_published {
    display: block;
    margin-bottom: $space-1;
  }

  .preamble {
    margin-top: 0px;
    margin-bottom: 3rem;

    a {
      color: $clr-white;

      &:focus {
        @include focusStyleLight;
      }
    }

    a[target='_blank']:after {
      content: '\f08e';
      margin-left: 5px;
      font-family: 'FontAwesome' !important;
      font-size: 0.8em;
    }
  }

  .container--related-search {
    margin-bottom: $space-12;
  }

  .main-text {
    margin-bottom: $space-6;
    margin-top: 0px;
    
    p{
      overflow-wrap: break-word;
    }

    a {
      color: $clr-white;

      &:hover {
        background-color: transparent;
      }

      &:focus {
        @include focusStyleLight;
      }
    }
    a[target='_blank']:after {
      content: '\f08e';
      margin-left: 5px;
      font-family: 'FontAwesome' !important;
      font-size: 0.8em;
      display: inline-block;
    }

    li {
      margin-bottom: $space-2;
    }
  }

  .infoblock {
    padding: $space-6;
    padding-top: $space-6;
    padding-bottom: $space-6;
    border-left: 0.125rem solid $clr-pinkPop;
    margin-left: 0rem;
    margin-right: 0rem;
    font-weight: 400;
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    letter-spacing: -0.02em;
    color: $clr-white;
    margin-top: $space-4;
    margin-bottom: $space-8;

    p,
    span {
      margin: 0rem;      
    }
  }
}
