@import '../../node_modules/swagger-ui-react/swagger-ui.css';
@import '../general/variables.scss';
@import '~@digg/design-system/lib/sass/variables';

//Swagger colors
$swagger-green: #258659;
$swagger-green-bg: #258659;

$swagger-blue: #0173e4;
$swagger-blue-bg: #0173e4;

$swagger-orange: #a86629;
$swagger-orange-bg: #a86629;

$swagger-grey: #989898;
$swagger-grey-bg: #989898;

$swagger-red: #ed0707;
$swagger-red-bg: #ed0707;

$swagger-turquoise: #12827b;
$swagger-turquoise-bg: #12827b;

$swagger-required-red: #cc0000;

$authorize-btn-green: #258659;

//Accordion badge in mobile
@mixin accordion-badge_sm {
  @media screen and (max-width: $media-sm) {
    min-width: 5.625rem;
    height: 44px;
    border-radius: 0;
  }
}

//Accordion head i mobile
@mixin accordion-head_sm {
  @media screen and (max-width: $media-sm) {
    padding: 0;
    padding-right: 0.5rem;
  }
}

@mixin section-header($divider-color) {
  .opblock-section-header {   
    position: relative;
      &::after{
        background: $divider-color;
        height: 2px;
        width: 97%;
        top: 3.5rem;
        left: 0;
        right: 0;
        margin: auto;
        content: "";
        position: absolute;
    }
  }
}

.api-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.api-title .entryscape span::before {
  content: '-';
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &:empty {
    display: none;
  }
}

.api-publisher{
  margin-bottom: $space-6;
}
.api-publisher::first-letter {
  text-transform: capitalize;
}

.detailpage {
  .detailpage__wrapper--apiexplore {
    width: 100% !important;
    flex-direction: column !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: none !important;

    .detailpage__wrapper-topinfo {
      @include Layout;
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;

      .beta_badge--xl {
        margin-bottom: 0;
      }

      .text-5 {
        margin-bottom: 1rem;
      }

      .api-title-sm::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.swagger-ui button {
  height: max-content;
}

.swagger-ui .arrow {
  min-width: 20px;
  fill: white;
}

//Swagger h2
.swagger-ui {
  margin-bottom: $space-16;

  * {
    font-family: 'Ubuntu', sans-serif !important;
  }

  .info {
    h2.title {
      color: $clr-white;
      font-weight: bold;
      font-size: 1.125rem; //18px
      line-height: 1.6875rem; //27px
      letter-spacing: -0.01em;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      span {
        display: flex;
      }
      small {
        top: unset;
        background-color: transparent !important;
      }
    }
  }
}

//Styling fix for swagger spinner
.swagger-ui{
  .loading-container{    
    .loading{
      -webkit-animation: rotation 0 linear infinite, opacity 0;
      animation: rotation 0 linear infinite, opacity 0;

      &::after{
        content: "Loading";
        color: $clr-white;
        -webkit-animation: dots 0;
        animation: dots 0;
      }

      &::before{
        border-top-color: white;
      }
    }
  }
}

.nostyle{
  color: white !important;
}

.swagger-ui .opblock-summary-control{
  &:focus{
    @include focusStyleLight;
  }
}

.opblock-summary-description{
  color: white !important;
}

.swagger-ui .no-margin {
  overflow: auto;
}

.swagger-ui .opblock-body {
  min-width: 500px;
}

.swagger-ui .info .base-url,
.swagger-ui .info hgroup.main a {
  font-weight: normal;
  font-size: 1rem; //16px
  line-height: 1.5rem; //24px
  color: $clr-white;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.swagger-ui .info .title small pre {
  border-radius: 2px;
}

.swagger-ui .info .title{
  h4{
    color: $clr-white;
  }

  .errors-wrapper{
    color: $clr-white;
  }
}

//Remove transition for safari
.swagger-ui .btn {
  transition: outline-offset 0s;
}

//Authorize btn
.swagger-ui .btn.authorize {
  background-color: $clr-pinkPop;
  border-color: $clr-pinkPop;
  color: $clr-gray900;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0;

  svg {
    fill: $clr-gray900;
  }

  &:hover {
    filter: brightness(0.95);
    box-shadow: none;
  }
}

//Swagger info section above swagger.
.swagger-ui .info {
  max-width: 40rem;
  margin-top: 0;
}

.swagger-ui .info .title small {
  background: transparent;
  color: $clr-white;
  border-radius: 57px;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 0.25rem;

  pre {
    color: $clr-white;
  }
}

.swagger-ui .info a {
  color: $clr-white;
  text-decoration: underline;
  word-break: break-all;
  font-weight: normal;
  font-size: 1rem; //16px
  line-height: 1.5rem; //24px

  &:hover {
    text-decoration: none;
  }
}

//Section in swagger head
.swagger-ui .info hgroup.main {
  margin: 0;  
}

//Swagger wrapper
.swagger-ui .wrapper {
  padding: 0;

  a > span{
    border-color: white;
  }
}

//Unlocked
.swagger-ui .authorization__btn.unlocked {
  opacity: 1;
  fill: $clr-white;
  padding-right: 0;
  padding-left: 0;
  margin-left: 10px;

  &:hover {
    fill: $clr-gray700;
  }
}

.opblock-tag-section {
  &.is-open {
    margin-bottom: 1rem;
  }
}

//Scheme container//dropdown//label
.schemes-title {
  margin-bottom: 0.5rem;
}

//Scheme container//dropdown
.swagger-ui select {
  border: none;
  border-radius: 2px;
  background-color: $clr-gray300;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: none;

  &:hover {
    filter: brightness(0.98);
  }
}

//Swagger Scheme container//dropdown//Authorize
.swagger-ui .scheme-container {
  background-color: transparent;
  box-shadow: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

//Swagger accordions
.swagger-ui .opblock {
  border-radius: 2px;
  margin-bottom: 0.5rem;

  button {
    border-radius: 2px;
  }
}

//hide "try it out" function on deprecated methods
.swagger-ui .opblock-deprecated {
  .try-out {
    display: none;
  }
}

//Swagger accordions head
.swagger-ui .opblock-tag {
  background-color: $clr-gray800;
  color: $clr-white;
  border-bottom: 0;
  border-radius: 2px;
  padding-right: 1rem;

  &:hover {
    background-color: $clr-gray300;
    filter: brightness(0.98);
  }
}

//Accordion arrow
.swagger-ui .expand-methods,
.swagger-ui .expand-operation {
  padding-left: 0;
  padding-right: 0;
}

//Swagger accordion title width
.swagger-ui .opblock .opblock-summary-path {
  max-width: 80%;
}

//Accordion background
.swagger-ui .opblock {
  box-shadow: none;
}

//Accordion background green
.swagger-ui .opblock.opblock-post {
  border: 2px solid $swagger-green-bg;
  background-color: transparent;
  @include section-header($swagger-green);
}

//Accordion badge green
.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background: $swagger-green;
  height: 50px;
  @include text-md;
  
  display: flex;
  align-items: center;
  justify-content: center;

  @include accordion-badge_sm;
}

.swagger-ui .opblock.opblock-post .opblock-summary {
  border: none;

  @include accordion-head_sm;
}

//Accordion background orange
.swagger-ui .opblock.opblock-put {
  border: 2px solid $swagger-orange-bg;
  background-color: transparent;
  @include section-header($swagger-orange);
}

//Accordion badge orange
.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background: $swagger-orange;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include text-md;
  @include accordion-badge_sm;
}

.swagger-ui .opblock.opblock-put .opblock-summary {
  border: none;
  @include accordion-head_sm;
}

//Accordion badge blue
.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: $swagger-blue;  
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include text-md;
  @include accordion-badge_sm;
}

//Accordion background blue
.swagger-ui .opblock.opblock-get {
  border: 2px solid $swagger-blue-bg;
  background-color: transparent;
  @include section-header($swagger-blue);  
}

.swagger-ui .opblock.opblock-get .opblock-summary {
  border: none;

  @include accordion-head_sm;
}

//Accordion badge grey
.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
  background: $swagger-grey;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include text-md;
  @include accordion-badge_sm;
}

//Accordion background grey
.swagger-ui .opblock.opblock-deprecated .opblock-summary {
  border: none;
  background: none;

  @include accordion-head_sm;
}

//Accordion turquoise badge
.swagger-ui .opblock.opblock-patch .opblock-summary-method {
  background: $swagger-turquoise;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include text-md;
  @include accordion-badge_sm;
}

//Accordion turquoise background
.swagger-ui .opblock.opblock-patch {
  border: 2px solid $swagger-turquoise-bg;
  background-color: transparent;
  @include section-header($swagger-turquoise);
}

.swagger-ui .opblock.opblock-patch .opblock-summary {
  border: none;

  @include accordion-head_sm;
}

//Accordion background red
.swagger-ui .opblock.opblock-delete {
  border: 2px solid $swagger-red-bg;
  background-color: transparent;
  @include section-header($swagger-red);
}

//Accordion badge red
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background: $swagger-red;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include text-md;
  @include accordion-badge_sm;
}

.swagger-ui .opblock.opblock-delete .opblock-summary {
  border: none;

  @include accordion-head_sm;
}

//Accordion badge depricated
.swagger-ui .opblock.opblock-deprecated {
  opacity: 1;
}

.swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
  background-color: $clr-gray700;
}

.swagger-ui .opblock.opblock-deprecated {
  border: 2px solid $clr-gray700;
  background-color: transparent;
  @include section-header($clr-gray700);
}

//Color of required // depricated
.swagger-ui .parameter__name.required:after,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__name.required span {
  color: $swagger-required-red;
}

//Parameter in
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in {
  color: $clr-gray700;
}

//Controls accepted
.swagger-ui .response-control-media-type__accept-message {
  color: $clr-gray900;
}

.swagger-ui .opblock .opblock-summary {
  padding-right: 1rem;
}

//OpBlock-section-header
.swagger-ui .opblock .opblock-section-header {
  box-shadow: none;
  background-color: $clr-gray900;  
  
  h4{
    color: $clr-white;
    border: none;
    
    span:after {
      display: none;
    }
  }
}

//Swagger drop-down
.swagger-ui table {
  tbody tr td:first-of-type div{
    color: $clr-white;
  }

  thead tr td, thead tr th{
    color: $clr-white;
    border: none;
  }

  .response-col_status{
    color: $clr-white;
  } 
}

.btn.try-out__btn{
  border-color: $clr-pinkPop;
  color: $clr-pinkPop;
  @include text-base;
}

.swagger-ui{
  .tab li button.tablinks {
    color: $clr-white;
  }

  .response-control-examples__title, .response-control-media-type__title{
    color: $clr-white;
  }

  .response-col_links{
    color: $clr-white;
  }

  .opblock-description-wrapper, .opblock-external-docs-wrapper, .opblock-title_normal{
    color: $swagger-required-red;
  }
}




//Checkboxes inside dialog
.swagger-ui .checkbox input[type='checkbox'] {
  display: block;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.swagger-ui {
  input[type='checkbox']:focus + label {
    @include focusStyleLight;
    width: max-content;
  }
  [data-name='examplePanel']:focus,
  [data-name='modelPanel']:focus {
    @include focusStyleLight;
  }
}

.no-focus-outline .swagger-ui input[type='checkbox']:focus + label {
  outline: none !important;
}

//Show copy button
.swagger-ui .opblock .opblock-summary .view-line-link {
  width: 30px;
  border: none;
}

//background color of get/post/put/delete etc.
.swagger-ui .opblock-summary{
  background-color: $clr-gray900;
}



//--//

//Models
.swagger-ui section.models {
  border: none;
  margin-top: 20px;
}

.swagger-ui section.models h4 {
  border-radius: 2px;
}

.swagger-ui section.models.is-open {
  border: none;
}

.swagger-ui section.models h4 {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
  background-color: transparent;

  button {
    background-color: $clr-gray300;
    height: 100%;
    height: 64px;
    padding-left: 10px;
    padding-right: 20px;
    margin: 0;
    color: $clr-gray900;
  }
}

.swagger-ui section.models.is-open h4 {
  border: none;
}

.swagger-ui section.models .model-container:first-of-type,
.swagger-ui section.models .model-container:last-of-type,
.swagger-ui section.models .model-container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-radius: 2px;
}

//Models--//--

//Code plate//
.swagger-ui .opblock-body pre.microlight {
  color: $clr-gray900;
  background: white !important;
  border: 2px solid $clr-gray300;
}

//Code color//
.swagger-ui .highlight-code > .microlight code,
.swagger-ui .opblock-body pre.microlight code {
  color: $clr-gray900;
  filter: brightness(0.5);
}

//Modelbox //under schema
.swagger-ui .model-box {
  background-color: $clr-white;
}

.swagger-ui .model .property {
  color: $clr-gray700;
}

.tabs-nav {
  border-bottom: 1px solid $clr-gray600;
}

//Tabs navigation ul
.tabs-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include Layout;
}

.tabs-nav ul li {
  display: flex;
  flex-direction: row;
  min-width: 149px;

  button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    height: 2.625rem;
    text-decoration: none;
    margin-right: $space-8;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: $clr-white;
    margin-bottom: -1px;
    
    transition:  0.1s ease;

    &:hover {
      border-color: $clr-pinkPop;
    }

    &.active-tab {
      font-weight: bold;
      border-color: $clr-pinkPop;
    }

    @media screen and (max-width: $media-sm) {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.content-tabs-wrapper {
  background-color: $clr-gray900;
  padding-top: 2rem;

  .content-tab {
    display: none;
    width: 100%;
    @include Layout;
  }

  .active-content-tab {
    display: block;
    min-height: 100vh;

    p {
      max-width: 40rem;
      font-weight: normal;
      font-size: 1rem; //16px
      line-height: 1.5rem; //24px
      color: $clr-white;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }
  }
}

//Description text margin left fix.
.swagger-ui .markdown p,
.swagger-ui .markdown pre,
.swagger-ui .renderedMarkdown p,
.swagger-ui .renderedMarkdown pre {
  margin-left: 0;
}

//Max-width of inputfields
.swagger-ui .parameters-col_description input[type='text'] {
  max-width: 560px;
}

//Exexute button background/border-color
.swagger-ui .btn.execute {
  background-color: $swagger-blue;
  border-color: $swagger-blue;
}

//Download button
.swagger-ui .download-contents {
  background-color: $clr-gray900;
  border: 2px solid $clr-white;
  right: 2rem;
}

//Copy to clipboard button
.swagger-ui .copy-to-clipboard {
  background-color: $clr-gray900;
  border: 2px solid $clr-white;
  right: 7.5rem;

  button {
    padding: 0.4rem 0.9rem;
  }
}

//Copy clipboard CRUL
.swagger-ui .curl-command .copy-to-clipboard {
  bottom: 5px;
  height: 28px;
  right: 10px;
  width: 32px;
}

.swagger-ui .curl-command .copy-to-clipboard button {
  height: 22px;
}

//Mobile swagger adjustments
@media screen and (max-width: $media-sm) {
  .opblock-summary-description {
    display: none;
  }

  //Accordion arrow inside
  .swagger-ui svg:not(:root) {
    margin-left: auto;
    min-width: 20px;
  }

  //Title of accordion inside
  .swagger-ui .opblock .opblock-summary-path {
    max-width: 65%;
  }
}

//Acces and Api-keys tab
.content-tab {
  .entryscape {
    a {
      color: $clr-gray900;
      text-decoration: underline;
      word-break: break-word;
      text-decoration: underline;
    }

    a:hover {
      color: $clr-pinkPop;

    }

    .popover {
      left: 1rem !important;
    }

    .rdforms {
      .rdformsRow {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        margin-bottom: 1rem;

        &.cardgroup {
          display: flex;
          flex-direction: column;

          .rdformsRow {
            .rdformsLabel {
              display: none;
            }
          }
        }

        .rdformsFields {
          .rdformsGroup {
            padding: 0 !important;
            border: none;
            margin: 0 !important;

            .rdformsRow {
              padding-left: 0;
            }
          }

          .rdformsRepeatedValue {
            border-top: none !important;
          }
        }

        .rdformsLabel {
          margin-bottom: 0.25rem;
          font-weight: bold;
          font-size: 1.125rem; //18px
          line-height: 1.6875rem; //27px
          letter-spacing: -0.01em;
          padding: 0;
          border: none;
          width: max-content !important;
          color: $clr-white;
        }

        .rdformsFields {
          .rdformsField {
            margin-left: 0;
            padding-left: 0;

            .rdformsLanguage {
              display: none;
            }

            .rdformsUrl {
              font-weight: normal;
              font-size: 1rem; //16px
              line-height: 1.5rem; //24px
              color: $clr-white;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }

              &:focus {
                @include focusStyleLight;
              }
            }
          }
        }
      }
    }
  }

  .compact .rdformsRow.rdformsTopLevel .rdformsRow {
    margin-bottom: 0;
  }
}

.content-tab-text {
  display: flex;
  flex-direction: column;

  h2,
  p {
    margin: 0;
  }
}

.highlight-block {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $clr-gray800;
  width: auto;
  max-width: 40rem;

  a {
    word-break: break-word;
  }

  a::after{
    filter: brightness(5);
  }
}
