// Style for search and image on startpage
@import 'scss/general/variables.scss';

.main-search-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 40.625rem) {
        position: static;
    }
    img{
        object-fit: cover;
        @media screen and (max-width: 40.625rem) {
        display: none;
        }
    }
}

.startpage-top {
    position: absolute;
    top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: $space-32;
    margin-bottom: $space-16;

    @media screen and (min-width: 40.625rem) {
        padding-bottom: 9.375rem;
        margin-bottom: $space-64;
    }

    @media screen and (max-width: 40.625rem) {
        position: static;
        background-image: none;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    @media screen and (max-width: 56.25rem) {
        flex-direction: column;
    }

    .startpage-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h1 {
            font-size: 3rem;

            @media screen and (max-width: 40.625rem) {
                font-size: 2.375rem;
                padding-left: $space-16;
                padding-right: $space-16;
            }
        }

        .startpage-form {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 4px;

            input {
                max-width: 36.875rem;
                width: 100%;
                background-color: $white;
                border: none;
                padding-left: $space-16;
                font-size: 1.25rem;

                &::placeholder {
                    color: $black50;
                }

                &:focus {
                    z-index: 1;
                }

                &:hover {
                    transition: color .1s;
                    border-color: $black-hover;
                }

                &:focus {
                    transition: color 3s ease-in;
                    border-color: $black-hover;

                    &::placeholder {
                        color: $black10;
                    }

                    &::-ms-input-placeholder {
                        color: $black10;
                    }

                    &:-ms-input-placeholder {
                        color: $black10;
                    }
                }

                @media screen and (max-width: 40.625rem) {
                    background-color: $black100;
                    color: $white;

                    &::placeholder {
                        color: $black10;
                    }

                    &:focus {
                        &::placeholder {
                            color: $black50;
                        }
                    }
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3.75rem;
                min-width: 3.75rem;
                padding: 0px;
                background-color: $black100;
                border: none;
                border-radius: 0px;

                &:hover,
                &:focus {
                    transition: background-color .2s;
                    background-color: $black-hover;
                    z-index: 1;
                }

                @media screen and (max-width: 40.625rem) {
                    background-color: $green100;
                    &:hover{
                        background-color: $brown10;
                    }

                    svg {
                        fill: $white;
                    }
                }
            }
        }
    }

    .search-boxes {
        display: flex;
        flex-direction: column;
        max-width: 40.625rem;
        width: 100%;

        @media screen and (min-width: 56.25rem) {}

        div {
            display: flex;
            flex-direction: column;
            background-color: $brown10;
            padding-left: $space-16;
            padding-right: $space-16;
            padding-top: $space-8;
            padding-bottom: $space-8;
            width: 100%;

            &:first-of-type {
                padding-top: $space-16;
            }

            &:last-of-type {
                padding-bottom: 1.25rem;
            }

            //Disabled links
            &:nth-of-type(2),&:nth-of-type(3){
                span{
                    // color: $black-hover;
                    color: #6E6C68;
                }
            }

            a {
                width: fit-content;

                &:hover {
                    text-decoration: none;
                    color: $black100;
                }
            }
        }
    }
}