// Style for search and image on startpage
@import 'scss/general/variables.scss';

.startpage-top {
    display: flex;
    justify-content: space-between;
    margin-top: $space-48;
    margin-bottom: $space-96;

    @media screen and (max-width: 650px) {
        margin-top: $space-16;
        margin-bottom: $space-64;
    }

    @media screen and (max-width: 1440px) {
        margin-left: 16px;
        margin-right: 16px;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }

    .startpage-search {
        display: flex;
        flex-direction: column;
        width: 100%;


        h1 {
            font-size: 58px;
            margin: 16px 0px 32px 0px;

            @media screen and (max-width: 900px) {
                font-size: 48px;
            }

            @media screen and (max-width: 600px) {
                font-size: 40px;
            }

            @media screen and (max-width: 380px) {
                font-size: 32px;
            }
        }

        .startpage-form {
            display: flex;

            input {
                height: 60px;
                max-width: 600px;
                width: 100%;
                padding-left: $space-16;
                border: 4px solid $black100;

                border-right: none;
                font-size: 20px;
                margin-bottom: $space-32;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;

                // box-shadow: 8px 8px 11px #f2f2f2,
                //     -8px -8px 11px #ffffff;

                @media screen and (max-width: 600px) {
                    width: 100%;
                }

                @media screen and (max-width: 400px) {
                    font-size: 18px;
                }

                &::placeholder {
                    color: $black50;
                }

                &:hover {
                    transition: color .1s;
                    border-color: $black-hover;
                }

                &:focus {
                    transition: color 3s ease-in;
                    border-color: $black-hover;
                    // box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);

                    &::placeholder {
                        color: $black10;
                    }

                    &::-ms-input-placeholder {
                        color: $black10;
                    }

                    &:-ms-input-placeholder {
                        color: $black10;
                    }
                }
            }

            button {
                height: 60px;
                min-width: 60px;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $black100;
                border: none;
                border-radius: 0px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;

                margin-bottom: $space-32;

                // box-shadow: 8px 8px 11px #f2f2f2;

                svg {
                    // fill: $white;
                }

                &:hover,
                &:focus {
                    transition: background-color .2s;
                    background-color: $black-hover;
                }
            }
        }
    }

    .search-boxes {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 900px) {
            margin-left: $space-24;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: $space-16;
            min-height: 90px;
            min-width: 390px;
            background-color: $green10;

            a{
                width: fit-content;
            }
            
            @media screen and (max-width: 440px) {
                min-width: 270px;
            }

            &:hover {
                transition: .2s;
                cursor: pointer;

                a {
                    text-decoration: none;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            &:nth-of-type(1) {
                background-color: $orange50;
            }

            &:nth-of-type(2) {
                background-color: $green50;
            }

            &:nth-of-type(3) {
                background-color: $pink50;
            }
        }
    }
}