@import 'scss/general/variables.scss';


// Style for search categories on startpage
.categoriesnav__wrapper {
    background-color: $green25;

    @media screen and (max-width: 650px) {
    display: none;
    }

    .startpage-categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 980px;
        padding: 0rem;
        margin: auto;
        margin-top: $space-32;
        margin-bottom: $space-64 + $space-24;

        h2 {
            color: $black100;
            margin-top: $space-32;
        }

        ul {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0rem;
            margin: 0rem;

            li {
                margin-bottom: $space-16;
                margin-left: 10px;

                &:not(:last-of-type) {
                    a {
                        margin-right: 10px;
                        &:after {
                            content: ',';
                        }
                    }
                }

                a {
                    color: $black100;
                    font-size: 1.25rem;
                    line-height: 2rem;

                    &:hover {
                        transition: .2s;
                        text-decoration: none;
                    }

                    &:focus {
                        outline: $focus-style;
                        outline-offset: 4px;
                    }

                    @media screen and (max-width: 37.5rem) {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}
