@import 'scss/general/variables.scss';

// Compact newslist component startpage
.news-compact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $space-48;

    .news-pinned,
    .news-list-compact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    // OLD newsblock style

    // .news-pinned {
    //     &:hover {
    //         cursor: pointer;
    //         a {
    //             text-decoration: none;
    //         }
    //     }
    //     img {
    //         width: 100%;
    //         max-width: 544px;

    //         @media screen and (max-width: 800px) {
    //             max-width: 749px;
    //         }
    //     }
    //     span {
    //         margin-top: $space-16;
    //         display: block;
    //         // display: block;
    //         // width: 81px;
    //         // overflow: hidden;
    //         // white-space: nowrap;
    //         color: $black-hover;
    //     }
    //     h3 {
    //         margin-top: 4px;
    //         margin-bottom: $space-8;
    //         a {
    //             color: $black100;
    //         }
    //     }
    //     p {
    //         margin: 0px;
    //         max-width: 544px;

    //         @media screen and (max-width: 800px) {
    //             max-width: 749px;
    //         }
    //     }
    // }

    // OLD newsblock style

    // .news-list-compact {
    //     ul {
    //         margin: 0px;
    //         padding: 0px;
    //         list-style: none;

    //         li {
    //             margin-bottom: $space-24;
    //             &:hover {
    //                 cursor: pointer;
    //                 a {
    //                     text-decoration: none;
    //                 }
    //             }
    //             span{
    //                 color:$black-hover ;
    //                 display: block;
    //                 // width: 81px;
    //                 // overflow: hidden;
    //                 // white-space: nowrap;
    //             }
    //             h3 {
    //                 margin-top: 4px;
    //                 margin-bottom: 8px;
    //                 color: $black100;
    //                 a {
    //                     color: $black100;
    //                 }
    //             }
    //             p {
    //                 margin-top: 0px;
    //                 margin-bottom: 0px;
    //                 padding-bottom: $space-8;
    //             }
    //         }
    //     }

    //     a{
    //         &:hover{
    //             text-decoration: none;;
    //         }
    //     }

    //     @media screen and (min-width: 800px) {
    //         margin-left: $space-48;
    //     }
    // }



    .news-list-compact {
        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            list-style: none;
            padding: 0px;
            margin: 0px 0px $space-16 0px;


            @media screen and (max-width: 800px) {
                flex-wrap: wrap;
            }

            li {
                min-height: 480px;
                background-color: $orange10;

                &:nth-last-of-type(2) {
                    margin-left: $space-32;
                    margin-right: $space-32;
                }

                &:hover {
                    cursor: pointer;

                    a {
                        text-decoration: none;
                    }
                }

                .news-img {
                    height: 240px;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .news-text {
                    height: 50%;
                    padding: $space-24;
                    padding-bottom: $space-32;
                }


                span {
                    color: $black-hover;
                    display: block;
                }

                h3 {
                    margin-top: 4px;
                    margin-bottom: 8px;
                    color: $black100;

                    a {
                        color: $black100;
                    }
                }

                p {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: $space-8;
                }

                @media screen and (max-width: 800px) {
                    &:nth-last-of-type(2) {
                        margin-left: $space-16;
                        margin-right: $space-16;
                    }
                }

                @media screen and (max-width: 800px) {
                    min-height: 400px;
                    margin-bottom: $space-16;
                    &:nth-last-of-type(2) {
                        margin-left: 0px;
                        margin-right: 0px;
                    }                }
            }
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }


    @media screen and (max-width: 800px) {
        flex-direction: column;

        .news-list-compact {
            width: 100%;
        }
    }
}

// NewsListPage
.news-list {
    ul {
        list-style: none;
        padding: 0px;

        .loading-msg {
            border-left: none !important;
        }

        li {
            display: flex;
            flex-direction: column;
            border-left: 5px solid;
            padding-top: $space-8;
            padding-bottom: $space-16;
            padding-left: $space-16;
            margin-bottom: $space-16;

            a {
                margin-top: $space-8;
                margin-bottom: $space-8;
            }

            p {
                margin-top: 0px;
                margin-bottom: 0px;
                padding-right: $space-16;

                word-wrap: break-word;
                word-break: break-all;
            }

            &:hover {
                cursor: pointer;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

// NewsPage
.news-article {
    margin-top: $space-24;

    img {
        width: 100%;
        height: auto;
        margin-bottom: $space-24;
    }

    p {
        margin-top: 0px;
    }

    h1 {
        margin-top: $space-16;
        margin-bottom: $space-32;
    }

    h2 {
        margin-top: $space-32;
        margin-bottom: $space-24;

        font-weight: bold;
        font-size: 2rem; //32px
        line-height: 40px;
        letter-spacing: -0.03em;
        color: $black100;
    }

    h3 {
        margin-top: $space-32;
        margin-bottom: $space-16;

        font-weight: bold;
        font-size: 1.5rem; //24px
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $black100;
    }

    h4 {
        margin-top: $space-32;
        margin-bottom: $space-8;

        font-weight: bold;
        font-size: 1.25rem; //20px
        line-height: 28px;
        letter-spacing: -0.01em;
        color: $black100;
    }

    ul,
    ol {
        margin-bottom: $space-24;
    }
}