@import 'scss/general/variables.scss';

// Compact newslist component startpage
.news-compact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $space-96;

    @media screen and (max-width: 40.625rem) {
        margin-bottom: $space-48;
    }

    .news-pinned,
    .news-list-compact {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .news-list-compact {
        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            list-style: none;
            padding: 0rem;
            margin: 0rem 0rem $space-16 0rem;


            @media screen and (max-width: 50rem) {
                flex-wrap: wrap;
            }

            li {
                min-height: 30rem;
                background-color: $orange10;
                width: inherit;

                &:nth-last-of-type(2) {
                    margin-left: $space-32;
                    margin-right: $space-32;
                }

                &:hover {
                    cursor: pointer;
                    filter: brightness(1.01);

                    a {
                        text-decoration: none;
                    }
                }

                .news-img {
                    height: 13.125rem;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .news-text {
                    height: 50%;
                    padding: $space-16;
                    padding-bottom: $space-32;
                }

                span {
                    color: $black-hover;
                }

                h3 {
                    margin-top: 0.5rem;
                    margin-bottom: $space-8;
                    color: $black100;

                    a {
                        color: $black100;
                    }
                }

                p {
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                    padding-bottom: $space-8;
                    hyphens: auto
                }

                @media screen and (max-width: 50rem) {
                    &:nth-last-of-type(2) {
                        margin-left: $space-16;
                        margin-right: $space-16;
                    }
                }

                @media screen and (max-width: 50rem) {
                    margin-bottom: $space-16;

                    &:nth-last-of-type(2) {
                        margin-left: 0rem;
                        margin-right: 0rem;
                    }
                }
            }
        }

        a {
            width: fit-content;

            &:hover {
                text-decoration: none;
            }
        }
    }


    @media screen and (max-width: 50rem) {
        flex-direction: column;

        .news-list-compact {
            width: 100%;
        }
    }
}

// NewsListPage
.news-list {
    ul {
        list-style: none;
        padding: 0px;
        margin: 0rem;

        .loading-msg {
            border-left: none !important;
        }

        li {
            display: flex;
            flex-direction: column;
            padding-top: $space-8;
            padding-bottom: $space-16;
            border-bottom: 0.125rem dotted $black10;

            &:first-of-type {
                border-top: 0.125rem dotted $black10;
            }

            a {
                margin-top: $space-8;
                margin-bottom: $space-8;
                width: fit-content;

                &:hover {
                    text-decoration: none;
                    color: $pink-hover;
                }
            }

            p {
                margin-top: 0rem;
                margin-bottom: 0rem;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
    }
}

// NewsPage
.news-article {
    // margin-top: $space-32;

    iframe {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: $space-24;
    }

    p {
        margin-top: 0rem;
    }

    p {
        img {
            margin-bottom: 0rem;
        }

        em {
            font-style: italic;
        }
    }

    h1 {
        margin-top: 0rem;
        margin-bottom: $space-32;
    }

    h2 {
        margin-top: $space-32;
        margin-bottom: $space-24;

        font-weight: bold;
        font-size: 2rem; //32px
        line-height: 2.5rem; //40px
        letter-spacing: -0.03em;
        color: $black100;
    }

    h3 {
        margin-top: $space-32;
        margin-bottom: $space-16;
        font-weight: bold;
        font-size: 1.5rem; //24px
        line-height: 2rem; //32px
        letter-spacing: -0.02em;
        color: $black100;
    }

    h4 {
        margin-top: $space-32;
        margin-bottom: $space-8;
        font-weight: bold;
        font-size: 1.25rem; //20px
        line-height: 1.75rem; //28px
        letter-spacing: -0.01em;
        color: $black100;
    }

    ul,
    ol {
        margin-bottom: $space-24;
    }
}