@import 'scss/general/variables.scss';

//Redesign of datasetpages rendered with blocks version 0.18.
//Blocks already have its own css.
//Thats why there is alot of !importants in this file.

//Color fix for links under h3 tags.
.boxed {
    display: flex;
    flex-direction: column;

    h3 {
        span {
            a {
                color: $black100 !important;

                &:focus {
                    outline: $focus-style;
                    outline-offset: $focus-offset;
                }
            }
        }
    }
}

//New style for datasets
.dataset {
    max-width: 40em; //640px
    margin-top: $space-32;
    font-family: Ubuntu !important;

    //Theme
    .tema {
        font-size: 18px !important;
        font-family: Ubuntu;

        &:not(:last-child):after {
            content: ', ';
        }
    }

    //Alert, used when datasets dosnt have any distrubutions for example.
    .entryscape .alert-info {
        color: $black100 !important;
        background-color: $orange10;
        border-radius: 0px;
        border: 0px;
        border-color: transparent;
        max-width: 640px;
        font-size: 16px;
        padding: $space-16;
    }

    h1 {
        margin-top: $space-16 !important;
        margin-bottom: $space-16 !important;
        max-width: 640px;

        span {
            display: block;
            font-weight: bold;
            font-size: 42px;
            line-height: 48px;
            letter-spacing: -0.03em;
            color: $black100;
            //**
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
        }
    }

    h2 {
        font-weight: bold !important;
        font-size: 24px !important;
        line-height: $space-32 !important;
        letter-spacing: -0.02em !important;
        color: $black100 !important;
    }

    //H2 for about datasets
    .data-header {
        margin-top: $space-32;
    }

    //Description
    .description {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 18px !important;
        line-height: 27px !important;
        // margin-bottom: $space-32 !important;
        max-width: 640px;
        word-break: break-word;
    }

    .publisher-name {
        margin-bottom: $space-16;
    }

    // Accordions
    .listRowSurface {
        .entryName {
            span {
                padding: 0px !important;
            }
        }
    }

    //Removes box-shadow on donloadbutton for distrubutions
    .entryscape .btn:focus,
    .entryscape .btn.focus {
        box-shadow: none;
    }

    //fixes all text to be inline under more information about distrubutions.
    .rdformsPresenter {
        .rdformsFields {
            padding-left: 0px;

            .rdformsField {
                margin-left: 0px !important;
            }

            .rdformsGroup {
                .rdformsRow {
                    padding-left: 0px;

                    .rdformsField {
                        padding-left: 0px !important;
                    }
                }
            }
        }
    }
}

//Expanded metadata for distrubution
.compact {
    background-color: $green10;
    line-height: 27px;
    font-size: 18px;
    font-family: Ubuntu !important;

    .rdformsUrl {
        &:hover {
            color: $black100;
        }

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset;
        }
    }
    .cardgroup{
        .rdformsFields{
            .rdformsGroup{
                margin-left: 0px !important;
            }
        }
    }
}

//Removes margin for distrubutions on smaller screens.
@media (max-width: 720px) {
    .flex-wrapper {
        margin-top: 0px !important;
        display: block;
    }

    .entryRow {
        flex-wrap: wrap !important;
    }
}

.about-specification {
    .rdformsTopLevel .rdformsFields .rdformsField {
        margin-left: 0px !important;
    }

}

//About datasets
//from organisation
.about-dataset {
    font-family: Ubuntu !important;
    font-size: 18px;
    line-height: 27px;
    max-width: 640px;
    word-break: break-all;
    padding: 0px !important;

    .rdformsFields {
        margin-left: 0px !important;
    }

    .information-row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: Ubuntu !important;

        .entryscape {
            padding-top: 6px;
            display: flex;
            justify-content: space-between;

            .catalog-span {
                width: 10em;
            }

            .catalog-name {
                margin-left: 30px !important;
                margin-bottom: $space-8;
            }
        }
    }

    //New span for organisation
    .organisation-span {
        width: 10em;
        margin-right: 0px;
        padding-top: 6px;
        padding-bottom: 0.5em;
        font-family: Ubuntu !important;
    }

    //New span for catalog
    .catalog-span {
        width: 10em;
        padding-top:11px;
        padding-bottom: 0.5em;
        font-family: Ubuntu !important;
    }

    .catalog-name {
        padding-left: 0px !important;
        margin-left: 0.6em !important;
        padding-top: 6px;
        font-family: Ubuntu !important;
        display: block;
    }

    .org-name {
        padding-top: 0px !important;
        margin-left: 30px !important;
        margin-top: 12px;
        margin-left: 0px;
        font-family: Ubuntu !important;
        display: block;
        color: $black100;

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset;
        }
    }

    @media screen and (max-width: 600px) {

        .rdformsFields .rdformsField div {
            margin-left: 0px;
        }

        .rdformsFields .rdformsField a {
            margin-left: 0px;
        }

        .information-row {
            flex-direction: column;
            align-items: flex-start;

            .entryscape {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .catalog-span {
                    font-weight: bold;
                }

                .catalog-name {
                    margin-left: 0px !important;
                    padding-left: 0px;
                }
            }

            .organisation-span {
                font-weight: bold;
                padding-bottom: 0px;
            }

            .org-name {
                padding-top: 0px;
                padding-left: 0px;
                margin-left: 0em !important;
            }

            .catalog-name {
                margin-left: 0px;
                padding-left: 0px;
                padding-top: 0px;
            }

            .catalog-span {
                font-weight: bold;
                padding-bottom: 0px;
            }
        }
    }

    //Links
    .entryscape a {
        color: $black100;
        text-decoration: underline;

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset;
        }
    }

    //Removes borders on licens
    //Removes margin + padding on licens
    .rdformsGroup {
        .rdformsRow {
            .rdformsLabel {
                border: none;
            }

            .rdformsFields {
                .rdformsField {
                    margin-left: 0px;
                    padding-left: 0px !important;
                }
            }
        }
    }

    //Download as rdf
    .entryscape {
        .download-rdf {
            font-weight: bold;
            text-decoration: none;
            margin-top: $space-24;
            text-decoration: underline;
            word-break: break-all;
            display: inline-block;

            &:hover {
                color: $black100;
            }
        }
    }

    .compact {
        background-color: transparent;
    }

    //Removes language tags under about dataset.
    .rdformsFields {
        .rdformsLanguage {
            display: none !important;
        }
    }
}

//Removes languge tags.
.rdformsLanguage {
    display: none;
}

//Removes border on keywords...
.rdformsPresenter .rdformsRepeatedValue {
    border-top: none !important;
}


.viewMetadataSpecs {
    .rdformsPresenter {
        background-color: transparent;

        .rdformsTopLevel .rdformsFields .rdformsField {
            margin-left: 0px;
        }
    }
}

//Removes backgroundcolors under about dataset
.viewMetadata {
    .rdformsPresenter {
        background-color: transparent;
        font-size: 18px;
        // margin-bottom: $space-8;
    }

    //Fix for spacing between text columns under distrubutions.
    .rdformsFields {
        margin-left: 30px !important;
    }
}

//Fix to display keywords in a row instead of column.
.rdformsFields {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;

    .rdformsSingleline {
        padding-right: $space-8 !important;

        &:not(:last-of-type) {
            div::after {
                content: ',';
            }
        }
    }
}

//Links under about dataset
.rdformsField {
    .rdformsUrl {
        color: $black100;
        text-decoration: underline;
        word-wrap: break-word;
        word-break: break-all;
    }
}

.notCompact {
    padding: 0px !important;

    //For map/coordinates
    .rdformsInvisibleGroup {
        .rdformsFields {
            margin-left: 0px !important;

            .escoPosition {
                label {
                    margin-left: 0px;
                }

                span {
                    margin-right: $space-16;
                }

                .escoPosition__globe {
                    display: none;
                }
            }
        }
    }
}

.cardgroup>.rdformsFields>.rdformsGroup {
    background-color: transparent !important;
    border: none !important;

    .rdformsRow {
        display: flex;

        .rdformsLabel {
            border-bottom: none;
        }
    }
}

//Padding and margin for rows under about dataset
.compact .rdformsRow>.rdformsFields>a,
.compact .rdformsRow>.rdformsFields>div {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}

//Texttransform for information under about dataset
.compact .rdformsRow>.rdformsFields>.rdformsField>div:first-letter {
    text-transform: uppercase;
}

//For smaller screens, from rows to columns.
@media screen and (max-width: 600px) {

    //Hides map under datasets in mobile.
    .notCompact {
        padding-bottom: 0px !important;
    }

    .compact .rdformsRow.rdformsTopLevel {
        display: flex !important;
        flex-direction: column;
    }

    .viewMetadata .rdformsFields {
        margin-left: 0px !important;
    }

    .compact .rdformsRow>.rdformsFields>a,
    .compact .rdformsRow>.rdformsFields>div {
        padding-left: 0px !important;
    }

    .rdformsLabel {
        font-weight: bold;
    }

    .compact .rdformsField {
        margin-left: 0em !important;
    }

    .org-name {
        margin-top: 0px !important;
    }
}


//View more button for distrubutions, specs...
//Expanded.
.entryList {
    .esbRowExpanded {
        .esbRowHead {
            .esbRowControl {
                button {
                    background-color: transparent;
                    border: 2px solid $green100;
                    color: $black100
                }

                button::before {
                    content: "Visa mer";
                    font-weight: normal !important;
                }
            }
        }
    }
}

//Blocks .18
.esbRow {
    box-shadow: none !important;
    margin-bottom: $space-16 !important;

    &:last-of-type{
        margin-bottom:$space-8 !important;
    }

    .esbRowHead {
        min-height: 164px !important;
        max-height: 364px !important;
        flex-direction: column;
        justify-content: space-between;
        background-color: $green10;
        padding: $space-16;
        overflow: initial;

        .esbRowMain {
            width: 100% !important;
            padding: 0px !important;

            .accordion-col {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .resourceLabel {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: $space-16 !important;
                }

                .licence {
                    min-height: 27px;
                }

                .format-div {
                    display: block;
                    margin-top: $space-16;
                    position: relative;

                    .format {
                        position: absolute;
                        bottom: -34px;
                        border: 2px solid $black100;
                        border-radius: 2px;
                        padding: 6px;
                        text-transform: uppercase;
                        max-width: 400px;

                        &:empty {
                            border: none;
                        }
                    }
                }
            }

            a {
                line-height: 37px;
                min-width: 120px;
                min-height: 48px;
                background-color: $green100;
                color: $white;
                font-size: 16px;

                &:focus {
                    outline: $focus-style;
                    outline-offset: $focus-offset;
                }

                &:hover {
                    background-color: $green-hover;
                }
            }
        }

        .esbRowControl {
            position: relative;
            width: 100%;

            button {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $green25;
                color: $black100 !important;
                font-size: 16px;
                min-width: 120px;
                min-height: 32px;
                line-height: -0px;
                max-height: 32px;
                margin-right: 0px;

                &:focus {
                    outline: $focus-style;
                    outline-offset: $focus-offset;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;
                    background-color: $green50;
                    color: $black100;
                }

                span {
                    font-size: 16px;
                    line-height: 12px;
                    font-family: "Font Awesome 5 Free" !important;
                }

                span {
                    margin-left: 8px;
                }
            }

            button::before {
                content: "Visa mer";
                font-weight: normal !important;
            }

            button::after {
                font-weight: normal !important;
            }
        }
    }

    .esbRowExpand {
        background-color: $green10;
        padding-left: $space-16 !important;
        padding-right: $space-16 !important;
    }
}

//Ugly fix to make license under about datset
.rdformsPresenter {
    .notCompact {

        #dijit_es_dijit__Widget_3,
        #dijit_es_dijit__Widget_2 {
            // margin-left: 30px !important;
        }
    }
}


//Distrubution accordions in below 600px..
@media screen and (max-width: 600px) {
    .esbRow {
        box-shadow: none !important;
        margin-bottom: $space-24 !important;

        .esbRowHead {
            min-height: 300px !important;
            padding: $space-16;

            .esbRowMain {
                width: 100% !important;
                padding: 0px !important;
                position: relative;

                a {
                    min-width: 100px;
                    position: absolute;
                    top: 220px;
                }

                .accordion-col {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }

            .esbRowControl {
                button {
                    min-height: 48px !important;
                    // min-width: 100px;
                }
            }
        }
    }
}

.rdformsFields {
    .rdformsField {
        div {
            word-break: break-word !important;
        }
    }
}

.rdformsGroup {
    .rdformsRow {
        padding-left: 0px !important;
    }
}

//Hides stuff from blocks that initially are hidden by default.
// .hiddenProperty {
//     padding-bottom: 0px !important;
//     padding-top: 0px !important;

//     .rdformsLabel {
//         display: none !important;
//     }

//     .rdformsFields {
//         display: none;

//         .rdformsField {
//             display: none;
//         }
//     }
// }


//Fix for spaces
.rdformsTopLevel {
    .rdformsFields {
        .rdformsSingleline {
            margin-right: 0px !important;
        }

        .rdformsField {
            margin-left: 30px;
        }
        .rdformsGroup{
            margin-left: 30px !important;
        }
    }
}

//Pagination
//For datasets with more than 50 distrubutions
.entryPagination {
    .disabled {
        a {
            cursor: none;
            opacity: 0.5;
        }
    }

    .page-item {

        &:first-of-type,
        &:last-of-type {
            display: none;
        }

        a {
            cursor: pointer;
            border: 2px solid $green100 !important;
            border-radius: 2px;

            i {
                font-family: "Font Awesome 5 Free" !important;
                color: $green100;
            }
        }
    }
}


//For specoficationpage
//For specoficationpage
//For specoficationpage

//Remove background-color of specification details.
.specificationDetails {
    .rdformsPresenter {
        background-color: transparent;
    }
}

//For conceptpage
//For conceptpage
//For conceptpage
.concept {

    .terminology-group {
        background-color: $pink10;
        padding: $space-16;
        padding-bottom: $space-8;

        h2 {
            margin-top: $space-8;
            margin-bottom: 0px;

            &:first-of-type {
                margin-top: 0px;
            }
        }
    }

    .download-rdf {
        span {
            display: flex;
            flex-direction: column;

            a {
                margin-right: $space-16;
            }

            h2 {
                font-weight: bold !important;
                font-size: 24px !important;
                line-height: $space-32 !important;
                letter-spacing: -0.02em !important;
                color: $black100 !important;
            }
        }
    }

    .terminology {
        margin-bottom: $space-8;
        padding: 0px !important;
        font-size: 18px !important;
        box-shadow: none;

        a {
            padding: 0px;
        }

        &:focus {
            box-shadow: none !important;
        }
    }

    .myrow {
        background-color: $pink10;
        padding: $space-16;
        padding-top: $space-8;

        h2 {
            font-weight: bold !important;
            font-size: 18px !important;
            line-height: $space-32 !important;
            letter-spacing: -0.02em !important;
            color: $black100 !important;
            margin-top: 0px;
            margin-bottom: 0px;

            &:last-of-type {
                margin-top: $space-16;
            }
        }

        .mycolumn {
            display: flex;

            .entryList {
                display: flex;
                flex-wrap: wrap;

                .entryListRow {
                    margin-right: $space-16;

                    &:not(:last-of-type) {
                        span::after {
                            content: ',';
                        }
                    }
                }
            }
        }
    }

    //Download concept
    .download-rdf {
        margin-bottom: $space-24;
        background-color: $green10;
        padding: $space-16;

        h2 {
            font-weight: bold !important;
            font-size: 32px !important;
            line-height: $space-32 !important;
            letter-spacing: -0.02em !important;
            color: $black100 !important;
            margin-top: $space-16;
        }
    }

    //Concept details 
    .concept-details {
        margin-top: $space-8;

        h2 {
            font-weight: bold !important;
            font-size: 32px !important;
            line-height: $space-32 !important;
            letter-spacing: -0.02em !important;
            color: $black100 !important;
            margin-top: $space-32;
            margin-bottom: $space-8;
        }

        .notCompact {
            width: 100% !important;
            margin-right: 0px;

            .noPointer {
                border-bottom: none !important;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: $black100;
            }

            .rdformsFields {
                .rdformsPresenter {
                    margin-left: 0px !important;

                    .rdformsRow {
                        margin-bottom: $space-16;
                        display: flex !important;
                        flex-direction: column;

                        .rdformsLabel{
                            min-width: 20em !important;
                            font-weight: bold;
                        }

                        .rdformsFields {
                            // margin-left: $space-32 !important;

                            .rdformsField {
                                // min-width: 300px !important;

                                &:not(:last-of-type) {
                                    a::after {
                                        content: ',';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .compact .rdformsTopLevel.rdformsRow.rdformsHeading>.rdformsFields>.rdformsGroup>.rdformsRow {
        width: 100% !important;
    }
}


#text-load1, #text-load2, #text-load3 {
    animation: cssAnimation 0s 0.5s forwards;
    visibility: hidden;
  }
  
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }