@import '~@digg/design-system/lib/sass/variables.scss';

footer {
  z-index: 10;
  svg {
    filter: brightness(10);
  }
}

.footer {
  background-color: $clr-gray900;
  border-top: 1px solid $clr-gray600;
  color: $clr-white;

  .footer-main {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    padding-bottom: $space-8;

    .digg__ {
      > div {
        max-width: 90vw;
      }
      span {
        color: $clr-gray900;

        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .footer__mobile-bar {
    height: auto;
    border-bottom: 1px solid $clr-gray600;
    display: flex;
    justify-content: center;

    .footer__mobile-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: calc(100% - 2rem);
      a {
        padding-right: $space-8;
        color: $clr-white;
        &:last-of-type {
          padding: 0;
        }
      }
    }

    .footer__search-link {
      display: flex;
      flex-direction: row;
      padding: $space-6 0;
      border: none;

      svg {
        margin-right: $space-2;
        opacity: 0.5;
      }

      &:hover {
        color: $clr-pinkPop;
        svg {
          filter: brightness(1);
          opacity: 1;
          path {
            fill: $clr-pinkPop;
          }
        }
      }
    }

    @media screen and (min-width: $media-md) {
      display: none;
    }
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $space-6;

  @media screen and (max-width: $media-sm) {
    flex-direction: column;
  }

  span {
    border: none;
  }
  span,
  a {
    color: $clr-white;
    &::after {
      background-color: $clr-white !important;
    }
  }

  a {
    margin-right: $space-6;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }

    &:focus {
      @include focusStyleLight;
    }
  }

  .external-link::after {
    margin-left: 0.5rem;
    vertical-align: sub;
  }

  .external-link[href^='mailto:']::after {
    content: none;
    background-image: none;
  }

  .footer__links-nav {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: $space-12;
    width: 100%;

    // Fixes column layout if the footer links are not in a list.
    .footer__column {
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        flex-direction: column;
      }
      a,
      span {
        font-size: 1rem !important;
      }

      &:not(:last-child) {
        margin-right: 0;
        @media screen and (min-width: $media-sm) {
          margin-right: 25%;
        }
      }
    }

    .footer__links-nav--heading {
      margin-bottom: $space-4;
      color: $clr-white;
    }

    ul {
      list-style: none;
      margin: 0rem;
      padding-left: 0;
      margin-bottom: $space-4;

      @media screen and (min-width: $media-sm) {
        &:not(:last-of-type) {
          margin-right: $space-12;
        }
      }

      li {
        margin-bottom: $space-4;
      }
    }

    @media screen and (max-width: $media-sm) {
      flex-direction: column;
      gap: 0;
    }
  }
  //todo: Refactor this into "footer__links-nav"  if we choose to go with v2 of the footer
  .footer__links-nav-v2 {
    @media screen and (max-width: $media-sm) {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;

        &:nth-child(n + 2) {
          span {
            background-color: $clr-gray900;
            margin-bottom: $space-2;

            padding: 1rem;
          }
        }
      }
    }
  }

  .footer__links-nav:last-child {
    margin-right: 0;

    @media screen and (min-width: $media-lg) {
      margin-right: 25%;
    }
  }
}
