@import "~@digg/design-system/lib/sass/variables.scss";

footer {
  z-index: 10;
  svg {
    filter: brightness(10);
  }
}

.footer {
  background-color: $clr-gray900;
  border-top: 1px solid $clr-gray600;
  color: $clr-white;

  .footer-main {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    padding-bottom: $space-8;
    padding-top: $space-2;
    gap: 32px;
    .digg__ {
      > div {
        max-width: 90vw;
      }
      span {
        color: $clr-gray900;

        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;

  @media screen and (max-width: $media-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: $media-md) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  h2 {
    @include text-md;
    margin-top: $space-6;
  }

  &__group > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 16px;

    a {
      color: $clr-white;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    .svg {
      filter: invert(50%) brightness(175%) grayscale(100%);
    }
  }

  .footer__links-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $space-12;
    width: 100%;

    .footer__column {
      display: flex;
      flex-direction: column;
      & > div {
        display: flex;
        flex-direction: column;
      }
      a,
      span {
        font-size: 1rem !important;
      }

      &:not(:last-child) {
        margin-right: 0;
        @media screen and (min-width: $media-sm) {
          margin-right: 25%;
        }
      }
    }
  }
}

.footer__logos {
  display: flex;
  flex-direction: column;
  gap: $space-4;

  .footer__logos-digg {
    width: 15rem;
    margin-right: $space-4;
  }

  @media screen and (min-width: $media-sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}
