@import 'scss/general/variables.scss';

header {
    border-bottom: 1px solid $black10;
}

.dataportal-logo {
    &:focus {
        outline: $focus-style;
        outline-offset: $focus-offset;
    }
}

.header-box {
    padding-top: $space-24;
    padding-bottom: $space-24;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 650px) {
        padding-top: $space-16;
        padding-bottom: $space-16;
    }

    svg {
        width: 18.75rem; //300px
    }
}

.header-links {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    // display: none;

    .header-link {
        font-family: Ubuntu !important;
        color: $black100;
        font-size: 18px;
        margin-top: $space-8;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        @media screen and (max-width: 650px) {
            font-size: 16px;
            margin-top: $space-24;
            transition: .1s;
        }

        &:not(:first-of-type) {
            margin-left: $space-32;

            @media screen and (max-width: 650px) {
                margin-left: $space-24;
                transition: .1s;

            }

            @media screen and (max-width: 385px) {
                margin-left: $space-16;
                transition: .1s;
            }
        }

        &:hover {
            border-color: $pink10;
        }

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset;
        }

        &.active {
            text-decoration: none;
            border-bottom: 2px solid $pink100;
        }
    }

    //Hide in /en
    .no-en{
        display: none;
    }

    .header-link--lang {
        color: $black-hover;
    }
}

//Mobile nav menu button

.nav-btn {
    display: none;
    height: 2.75rem;
    // width: 2.75rem;
    border: 0.125rem solid $green50;

    span {
        width: fit-content;
    }

    svg {
        width: $space-24;
        fill: $green100;
        margin-right: $space-8;
    }
}

@media screen and (max-width: 42.5rem) {}

//Beta information banner
.beta-banner {
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: $space-8;
    padding-left: $space-16;
    padding-right: $space-16;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange10;

    p {
        max-width: $page-width;
        width: 100%;
        margin: 0rem;
        text-align: center;

        @media screen and (max-width: 31.25rem) {
            text-align: left;
        }
    }
}