@import 'scss/general/variables.scss';

footer {
    margin-top: 10rem;

    svg {
        filter: brightness(10);
    }
}

.footer {
    background-color: $black100;
    padding-top: $space-32;
    padding-bottom: $space-64;

    .footer-main {
        display: flex;
        flex-direction: column;
        min-height: 3rem;

        .digg__ {
            span {
                color: $black100;

                &:first-of-type {
                    font-weight: bold;
                }
            }
        }
    }
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $space-24;

    @media screen and (max-width: 43.75rem) {
        flex-direction: column;
    }

    span,
    a {
        color: $white;
    }

    a {
        margin-right: $space-24;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .footer-link {
        word-break: initial;
        margin-bottom: $space-16;

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset;
            outline-color: $white !important;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .external-link::after {
        content: url(../../assets/icon_ExternalLinkWhite.svg);
        margin-left: .5rem;
        vertical-align: sub;
      }

    .external-link[href^="mailto:"]::after {
        content: none;
        background-image: none;
    }

    .footer__links-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        div {
            margin-right: $space-24;
            margin-bottom: $space-16;
        }

        .footer__links-nav--heading {
            margin-bottom: $space-16;
            color: $white;
        }

        ul {
            list-style: none;
            margin: 0rem;
            padding-left: 0;
            margin-bottom: $space-16;

            @media screen and (min-width: 31.25rem) {
                &:not(:last-of-type) {
                    margin-right: $space-48;
                }
            }

            li {
                margin-bottom: $space-16;
            }
        }

        @media screen and (max-width: 43.75rem) {
            flex-direction: column;
        }
    }

    .footer__links-contact {
        display: flex;
        flex-wrap: wrap;

        .footer-link:last-of-type {
            margin-right: 0px;
        }

        @media screen and (max-width: 43.75rem) {
            flex-direction: column;
        }
    }

    //Back to top button
    .back-to-top {
        a {
            height: $space-48;
            background-color: $green10;
            color: $white;
            border: none;

            &:hover,
            &:focus {
                background-color: $green25;
                color: $black100;
                border: none;
            }

            &:focus {
                outline: $focus-style !important;
                outline-offset: $focus-offset !important;
            }
        }
    }
}