@import "scss/general/variables.scss";

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $space-64;
    margin-bottom: $space-64;

    @media screen and (max-width: 40.625rem) {
        margin-top: $space-64;
        margin-bottom: $space-32;
    }

    .highlight__illustraitons {
        img {
            margin-left: $space-16;
            margin-right: $space-16;
            margin-bottom: $space-24;
            max-width: 160px;
            height: auto;

            @media screen and (max-width: 53.125rem) {
                &:nth-last-of-type(2) {
                    display: none;
                }
            }

            @media screen and (max-width: 36.563rem) {
                max-width: 200px;
                &:nth-last-of-type(1) {
                    display: none;
                }
            }
        }
    }

    .highlight__txt {
        max-width: 680px;
        margin-bottom: $space-24;

        h2 {
            @media screen and (min-width: 40.625rem) {
                text-align: center;
            }
        }

        p {
            text-align: justify;
            margin-top: $space-24;

            @media screen and (max-width: 650px) {
                text-align: left;
            }
        }
    }
}
