//Style for searchresults
@import "scss/general/variables.scss";

$media-sm: 37.5rem;

.search-result {
    .search-result-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-8;
        margin-bottom: $space-8;

        //Hide and show sorting options depending on showfilter button.
        //showFiler in //SearchFilters.tsx
        @media screen and (max-width: $media-sm) {
            .sorting-options-wrapper {
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        //Sorting
        .sorting-options {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            //Column in mobile
            @media screen and (max-width: $media-sm) {
                flex-direction: column;
                align-items: flex-start;
            }

            //Hide sorting-heading labels/spans in desktop
            @media screen and (min-width: $media-sm) {
                .sorting-heading {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0;
                }
            }

            //View number of hits
            .search-hits {
                display: flex;
                flex-wrap: nowrap;

                select {
                    color: $black100;
                    text-decoration: underline;
                    margin-left: $space-8;
                    cursor: pointer;
                    border: none;
                    text-align: right;
                    background-color: $white;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 100%;
                    background-position-y: 10px;
                    padding-left: 0.25rem;
                    padding-right: 1.5rem;
                    height: 2.75rem;
                    outline-offset: -3px !important;

                    @media screen and (max-width: 850px) {
                        padding-left: 0;
                        margin-left: 0;
                        text-align: left;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    option:hover {
                        background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
                        color: #fff;
                    }
                }
            }

            //Sorting buttons
            //Relevace, last modified
            .search-sort {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;

                span {
                    margin-right: $space-8;
                }

                button {
                    padding: 0px;
                    padding-left: 12px;
                    padding-right: 12px;
                    min-width: 0px;
                    background-color: $brown10;
                    height: 32px;
                    min-width: 50px;
                    border-radius: 2px;
                    border-color: $green25;
                    background-color: $white;
                    color: $black100;
                    transition: border-color ease 0.1s;
                    transition: background-color ease 0.1s;

                    &:hover {
                        border-color: $green50;
                    }

                    &:focus {
                        z-index: 1;
                    }

                    &:first-of-type {
                        margin-right: 0.5rem;
                    }
                }

                //Style for sorting results, after relevance or date
                .sort-active {
                    background-color: $green25;
                }

                select {
                    color: $black100;
                    text-decoration: underline;
                    margin-left: $space-8;
                    cursor: pointer;
                    border: none;
                    text-align: right;
                    background-color: $white;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 100%;
                    background-position-y: 10px;
                    padding-left: 0.25rem;
                    padding-right: 1.5rem;
                    padding-right: 1.5rem;
                    height: 2.75rem;
                    outline-offset: -3px !important;

                    @media screen and (max-width: 850px) {
                        padding-left: 0;
                        margin-left: 0;
                        text-align: left;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    option:hover {
                        background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
                        color: #fff;
                    }
                }
            }
        }

        @media screen and (max-width: 850px) {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .search-result-list {
        list-style-type: none;
        min-height: 400px;
        padding: 0px;
        margin: 0px;

        li {
            &:last-of-type {
                margin-bottom: $space-24;
            }

            &.search-result-list-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: $space-16;
                padding-bottom: $space-24;
                background-color: $white;
                color: $black100;
                text-decoration: none;
                border-bottom: 2px dotted $black10;

                &:first-of-type {
                    border-top: 2px dotted $black10;
                }

                &:hover,
                &:focus {
                    transition: ease-in-out 0.2s;
                }

                .result-theme {
                    margin-bottom: 0px;

                    &:empty {
                        margin-top: -8px;
                    }
                }

                .result-desc:empty {
                    display: none;
                }

                //Searchresult link
                a {
                    margin-bottom: $space-8;
                    margin-top: $space-8;
                    text-decoration: none;
                    max-width: 850px;
                    width: fit-content;

                    h3 {
                        text-decoration: underline;
                        word-break: break-word;

                        &::first-letter {
                            text-transform: uppercase;
                        }

                        &:hover {
                            text-decoration: none;
                            color: $pink-hover;
                        }
                    }

                    &:focus {
                        h3 {
                            text-decoration: none;
                            color: $pink-hover;
                        }
                    }
                }

                //Searchresult title
                h3 {
                    margin: 0px;
                }

                //Searchresult description
                p,
                span {
                    font-family: Ubuntu !important;
                    margin: 0px;
                    max-width: 750px;
                    margin-bottom: $space-8;
                    line-height: $space-24;
                    word-break: break-word;
                }

                //Searchresult organisation
                .result-org {
                    margin-top: 0px;
                    margin-bottom: $space-8;

                    &:empty {
                        display: none;
                    }
                }

                //Searchresult formats
                .result-format {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    margin-right: $space-8 !important;
                    max-width: none !important;

                    span:empty {
                        display: none;
                    }

                    span {
                        word-break: break-all;
                        display: block;
                        font-size: 14px;
                        border: 2px solid $black10;
                        border-radius: 0px;
                        margin-bottom: 0px;
                        text-transform: uppercase;
                        padding: 1px 4px;
                    }

                    //Colors for format badges
                    .bc-1 {
                        border-color: $black10;
                    }

                    .bc-2 {
                        border-color: $black10;
                    }

                    .bc-3 {
                        border-color: $black10;
                    }

                    .bc-4 {
                        border-color: $black10;
                    }

                    .bc-5 {
                        border-color: $black10;
                    }

                    .bc-6 {
                        border-color: $black10;
                    }

                    .bc-7 {
                        border-color: $black10;
                    }

                    .bc-8 {
                        border-color: $black10;
                    }
                }
            }

            //Search results for specifications
            &.specification {
                a {
                    margin-top: 0px;
                }

                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Formats in searchresult
.format-row {
    display: flex;
    flex-wrap: wrap;

    &:empty {
        margin-top: -8px;
    }
}

//For view more results.
.view-more {
    display: flex;
}

.pagination {
    width: 100%;
    position: relative;

    button {
        min-width: 115px;

        &:disabled {
            color: $green25;
            border-color: $green25;
            background-color: $white;
            cursor: default;
        }
    }

    .first-page {
        margin-left: 0px;
        margin-top: $space-32 + $space-16;
        position: absolute;
    }

    .prev-next-page {
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        margin-top: $space-24;

        button{
            margin-left: $space-8;
            margin-right: $space-8;
        }
    }

    span {
        margin-left: $space-16;
        margin-right: $space-16;
    }
}

@media screen and (max-width: 660px) {
    .pagination {
        .first-page {
            display: none;
        }

        .prev-next-page {
            min-width: 0;
            button{
                margin-bottom: $space-16;
            }
        }

        span {
            margin: $space-8;
        }
    }
}

// Loading dots
.loading:after {
    content: ".";
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: black;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
    }
}

//view-options detaild or compact

.listview-options {
    display: flex;
    align-items: center;

    @media screen and (max-width: 750px) {
        margin-bottom: 1.5rem;
    }

    .list-view_btn {
        text-decoration: underline;
        border: none;
        color: $black100;
        outline-offset: -3px !important;

        @media screen and (max-width: 850px) {
            padding-left: 0;
            padding-right: 0;
        }

        svg {
            margin-left: $space-8;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 786px) {
    .search-hits,
    .listview-options,
    .search-sort {
        margin-bottom: $space-8;
    }
}

@media screen and (max-width: $media-sm) {
    .search-hits,
    .listview-options,
    .search-sort {
        flex-direction: column;
        align-items: flex-start;
    }
}

//organisation & format row
.search-result-list-item .org-format {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .text-6 {
        color: $black-hover;
    }

    .org-format-filebadges {
        display: flex;
        text-transform: uppercase;
        flex-wrap: wrap;

        &:empty {
            display: none;
        }

        @media screen and (min-width: 600px) {
            &::before {
                top: 2px;
                position: relative;
                content: "|";
                margin-left: 1rem;
                color: $black-hover;
            }
        }

        .file {
            margin-right: 1rem;
            word-break: break-all;

            @media screen and (min-width: 600px) {
                margin-left: 1rem;
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
 