//Style for searchresults
@import 'scss/general/variables.scss';

.search-result {
    .search-result-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $space-8;
        margin-bottom: $space-8;

        //Sorting
        .sorting-options {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            //View number of hits
            .search-hits {
                margin-right: $space-24;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                @media screen and (max-width: 522px) {
                    margin-bottom: $space-24
                }

                select {
                    border: none;
                    border-radius: 2px;
                    height: 32px;
                    background-color: $green10;
                    padding-left: 4px;
                    padding-right: 4px;
                    margin-left: $space-8;
                }
            }

            //Sorting buttons
            //Relevace, last modified
            .search-sort {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                justify-content: flex-end;

                span {
                    margin-right: $space-8;
                }

                button {
                    padding: 0px;
                    padding-left: 12px;
                    padding-right: 12px;
                    min-width: 0px;
                    border: none;
                    background-color: $brown10;
                    height: 32px;
                    min-width: 50px;
                    border-radius: 0px;
                    color: $green100;
                    transition: ease-in-out .1s;

                    &:hover {
                        background-color: $black10;
                        color: $black100;
                    }

                    &:focus {
                        z-index: 1;
                    }

                    &:first-of-type {
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                    }

                    &:last-of-type {
                        border-top-right-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                }

                //Style for sorting results, after relevance or date
                .sort-active {
                    background-color: $green100;
                    color: $white;

                    &:hover {
                        background-color: $green100;
                        color: $white;
                    }
                }
            }
        }

        @media screen and (max-width: 750px) {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-start;

            .sorting-options {
                margin-bottom: $space-32;
            }
        }
    }

    .search-result-list {
        list-style-type: none;
        min-height: 400px;
        padding: 0px;
        margin: 0px;

        li {
            // margin-bottom: $space-16;

            &:last-of-type {
                margin-bottom: $space-32;
            }

            &.search-result-list-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: $space-16;
                padding-bottom: $space-24;
                background-color: $white;
                color: $black100;
                text-decoration: none;
                border-bottom: 2px dotted $black10;
                // cursor: pointer;

                &:first-of-type {
                    border-top: 2px dotted $black10;
                }

                &:hover,
                &:focus {
                    transition: ease-in-out .2s;
                }

                .result-theme {
                    margin-bottom: 0px;

                    &:empty {
                        margin-top: -8px;
                    }
                }

                //Searchresult link
                a {
                    margin-bottom: $space-8;
                    margin-top: $space-8;
                    text-decoration: none;
                    max-width: 850px;
                    width: fit-content;

                    h3 {
                        text-decoration: underline;
                        word-break: break-word;

                        &:hover {
                            text-decoration: none;
                            color: $pink-hover;
                        }
                    }

                    &:focus {
                        h3 {
                            text-decoration: none;
                            color: $pink-hover;
                        }
                    }
                }

                //Searchresult title
                h3 {
                    margin: 0px;
                }

                //Searchresult description
                p,
                span {
                    font-family: Ubuntu !important;
                    margin: 0px;
                    max-width: 750px;
                    margin-bottom: $space-8;
                    line-height: $space-24;
                }

                //Searchresult organisation
                .result-org {
                    margin-top: 0px;
                    margin-bottom: $space-8;

                    &:empty {
                        display: none;
                    }
                }

                //Searchresult formats
                .result-format {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    margin-right: $space-8 !important;
                    max-width: none !important;

                    span:empty {
                        display: none;
                    }

                    span {
                        word-break: break-all;
                        display: block;
                        font-size: 14px;
                        border: 2px solid $black100;
                        border-radius: 0px;
                        margin-bottom: 0px;
                        text-transform: uppercase;
                        padding: 1px 4px;
                    }

                    //Colors for format badges
                    .bc-1 {
                        border-color: $pink50;
                    }

                    .bc-2 {
                        border-color: $brown50;
                    }

                    .bc-3 {
                        border-color: $orange100;
                    }

                    .bc-4 {
                        border-color: $green50;
                    }

                    .bc-5 {
                        border-color: $brown100;
                    }

                    .bc-6 {
                        border-color: $orange50;
                    }

                    .bc-7 {
                        border-color: $green100;
                    }

                    .bc-8 {
                        border-color: $pink25;
                    }
                }
            }

            //Search results for specifications
            &.specification {
                a {
                    margin-top: 0px;
                }

                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Formats in searchresult
.format-row {
    display: flex;
    flex-wrap: wrap;

    &:empty {
        margin-top: -8px;
    }
}

//For view more results.
.view-more {
    display: flex;
}

.pagination {
    width: 100%;
    position: relative;

    button {
        min-width: 115px;

        &:disabled {
            color: $green25;
            border-color: $green25;
            background-color: $white;
            cursor: default;
        }
    }

    .first-page {
        margin-left: 0px;
        position: absolute;
    }

    .prev-next-page {
        min-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }

    span {
        margin-left: $space-16;
        margin-right: $space-16;
    }
}

@media screen and (max-width: 600px) {
    .pagination {
        margin-bottom: $space-64;
        .first-page {
            top: 70px;
            margin: auto;
            position: absolute;
        }

        .prev-next-page {
            justify-content: flex-start !important;
            margin-right: 100% !important;
        }

        span {
            margin: $space-8;
        }
    }
}

@media screen and (max-width: 395px) {
    .pagination {
        .first-page {
            top: 160px;
            margin: auto;
            position: absolute;
        }

        .prev-next-page {
            flex-direction: column;
            align-items: baseline;
            span{
                margin-top: $space-16;
                margin-bottom: $space-16;
            }
        }

        span {
            margin: $space-8;
        }
    }
}

// Loading dots
.loading:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: black;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 black,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 black,
            .5em 0 0 black;
    }
}