//style for searchfilter
@import 'scss/general/variables.scss';

.search-filter-box {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .search-filter-box {
        opacity: 0;
        height: 0px;
        overflow: hidden;
        flex-direction: column;

        .search-filter {
            margin-right: 0px;
        }

        &.show-filter {
            opacity: 1;
            height: auto;
        }
    }

    .search-filter {
        margin-right: $space-16;

        div {
            padding: 0px;
        }
    }
}

//Filter dropdowns of accordions from designsystem.
.search-filter {
    margin-right: $space-16;
    margin-bottom: $space-16;

    div {
        div:first-of-type {
            button {
                padding-left: 12px;
                padding-right: 12px;

                svg {
                    color: $green100;
                }

                &:hover {
                    background-color: $white !important;
                    border-color: $green-hover;
                    // color: $green-hover;

                    svg {
                        color: $green-hover;
                    }
                }

                &:focus {
                    background-color: $white !important;
                    // color: $black100 !important;
                    // outline: none !important;

                    svg {
                        color: $black100 !important;
                    }
                }

                div {
                    display: flex;
                    justify-content: space-between;

                    div:last-of-type {
                        width: 22px;
                    }

                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                }

                &[aria-expanded="true"] {
                    background-color: $white;
                    border-color: $black100;
                }
            }
        }

        div:last-of-type {
            padding: 0px;

            .search-filter-list {
                flex-direction: column;
                width: 300px;
                margin-top: 10px;
                margin-bottom: $space-16;
                background-color: $white;
                position: absolute;
                -webkit-box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                -moz-box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                z-index: 10000;
                max-height: 300px;
                overflow-y: auto;

                button {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: auto;
                    border: none;
                    border-radius: 0px;
                    border-bottom: 1px solid $green10;
                    cursor: pointer;
                    margin-bottom: 0px;
                    width: 100%;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    -ms-word-break: break-all;
                    word-break: break-all;
                    word-break: break-word;
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    text-align: left;
                    color: $black100;
                    padding: 0.75rem 1.25rem;
                    line-height: 1.25;

                    &:hover {
                        background-color: #eff0ee !important;
                        color: #5a5856 !important;
                    }

                    &:focus {
                        outline-offset: -4px !important;
                        background-color: $green25 !important;
                        color: #5a5856 !important;
                    }
                }

                button.selected {
                    background-color: $green25;
                }

                button:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

//Style for selected filter tags.
.selected-filters {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brown10;
        height: auto;
        max-height: 52px;
        padding: $space-8;
        margin-right: $space-16;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-bottom: $space-16;
        min-width: 30px;
        text-align: left;

        svg {
            margin-bottom: -2px;
        }

        &:hover {
            background-color: $black10;
            color: $black100;

            svg {
                // fill: $black100;
            }
        }

        &:focus {
            outline: $focus-style;
        }

        &:active {
            color: $green-hover;
        }

        span {
            margin-left: 10px;

            svg {
                // fill: $green100;
            }
        }
    }
}

.mobile-filters {
    margin-bottom: $space-16;
}

@media screen and (min-width: 600px) {
    .mobile-filters {
        display: none;
    }
}

.clear-filters {
    display: none;

    button {
        margin-bottom: $space-16;
    }

    &.show {
        display: block;
    }
}



/*style wrapper to give some space*/
.checkbox__wrapper {
    position: relative;
}

/*style label to give some more space*/
.checkbox__wrapper label {
    display: block;
    padding: 12px 0 12px 44px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


//CUSTOM CHECKBOX FOR API ONLY FILTER
/*style and hide original checkbox*/
.checkbox__wrapper input {
    height: 2.5rem;
    width: 2.5rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

/*position new box*/
.checkbox__wrapper input+label::before {
    border: 2px solid $green100;
    border-radius: 2px;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    margin-top: $space-8;
    margin-bottom: $space-8;
}

/*svg background styles*/
.checkbox__wrapper input+label::after {
    content: "";
    opacity: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: 0.5rem;
    top: 1rem;
    cursor: pointer;
}

/*Show checked*/
.checkbox__wrapper input:checked+label::after {
    opacity: .7;
}

/*focus styles*/
.checkbox__wrapper input:focus+label::before {
    outline: $focus-style;
    outline-offset: $focus-offset;
}

.no-focus-outline {
    .checkbox__wrapper input:focus+label::before {
        outline: none;
    }
}