//Style for searchbar
@import 'scss/general/variables.scss';

@media screen and (max-width: 37.5rem) {
    .search-header {
        font-size: 1.5rem; //24px
        margin-bottom: 0rem;
    }
}

.search-header {
    margin-top: 0rem;
}

.search-box {
    display: flex;
    flex-wrap: nowrap;
    height: $space-48;
    margin-bottom: $space-16;

    .search-label {
        display: none;
    }

    input {
        height: 100%;
        min-height: $space-48;
        min-width: 12.5rem;
        max-width: 31.25rem;
        width: 100%;
        border: 0.125rem solid $black100;
        border-right: none;
        padding-left: 0.75rem;
        border-top-left-radius: 0.125rem;
        border-bottom-left-radius: 0.125rem;

        &:hover {
            border-color: $black-hover;
        }

        &::placeholder {
            color: $black-hover;
        }

        &:focus {
            border-color: $black100;

            &::placeholder {
                color: $black10;
                transition: color .1s;
            }

            &::-ms-input-placeholder {
                color: $black10;
            }

            &:-ms-input-placeholder {
                color: $black10;
            }
        }
    }

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: $space-48;
        width: $space-48;
        min-width: 3.125rem;
        background-color: $black100;
        color: $white;
        border: none;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        cursor: pointer;

        &:hover {
            background-color: $black-hover;
            color: $white;
        }

        &:focus {
            outline: $focus-style;
            outline-offset: $focus-offset !important;
        }
    }
}