//style for searchfilter
@import 'scss/general/variables.scss';

.search-filter-box {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 37.5em) {
    .search-filter-box {
        opacity: 0;
        height: 0px;
        overflow: hidden;
        flex-direction: column;

        .search-filter {
            margin-right: 0px;
        }

        &.show-filter {
            opacity: 1;
            height: auto;
        }
    }

    .search-filter {
        margin-right: $space-16;

        div {
            padding: 0px;
        }
    }
}

//Filter dropdowns of accordions from designsystem.
.search-filter {
    margin-right: $space-16;
    margin-bottom: $space-16;

    div {
        div:first-of-type {
            button {
                padding-left: 12px;
                padding-right: 12px;

                svg {
                    color: $green100;
                }

                &:hover {
                    background-color: $white !important;
                    border-color: $green-hover;
                    // color: $green-hover;

                    svg {
                        color: $green-hover;
                    }
                }

                &:focus {
                    background-color: $white !important;
                    // color: $black100 !important;
                    // outline: none !important;

                    svg {
                        color: $black100 !important;
                    }
                }

                div {
                    display: flex;
                    justify-content: space-between;

                    div:last-of-type {
                        width: 22px;
                    }

                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                }

                &[aria-expanded="true"] {
                    background-color: $white;
                    border-color: $black100;
                }
            }
        }

        div:last-of-type {
            padding: 0rem;

            .search-filter-list {
                flex-direction: column;
                max-width: 20rem;
                width: 100%;
                margin-top: 0.625rem;
                margin-bottom: $space-16;
                background-color: $white;
                position: absolute;
                -webkit-box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                -moz-box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                box-shadow: -1px 2px 3px 3px rgba(189, 189, 189, 0.46);
                z-index: 10000;
                max-height: 24.7rem;
                overflow-y: auto;


                //Search within filter
                .filter-search {
                    position: relative;

                    .filter-search__icon {
                        position: absolute;
                        right: 0.6rem;
                        top: 50%;
                        transform: translate(-0%, -50%);
                    }

                    .filter-search__input {
                        width: 100%;
                        padding-left: 0.75rem;
                        padding-right: 1.5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border: none;
                        border-bottom: 2px solid $black50;

                        &::placeholder {
                            color: $black-hover;
                        }

                        &:hover {
                            border-color: $black-hover;
                        }

                        &:focus {
                            outline-offset: -4px !important;
                            border-color: $black100;

                            &::placeholder {
                                color: $black10;
                                transition: color .1s;
                            }
                        }
                    }
                }

                //Search within filter - end

                //Check all inside filter
                .filter-checkall {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding-left: 0.75rem;
                    // padding-right: 0.75rem;
                    border-bottom: 2px solid $black50;
                    // min-height: 3.25rem;

                    .filter-checkall__btn {
                        height: 32px;
                        width: fit-content;
                        border: 2px solid $black10;
                        border-radius: 2px;

                        &:hover {
                            border-color: $black50;
                            color: $black-hover;
                        }
                    }

                    .filter-checkall__btn--active {
                        height: 32px;
                        width: fit-content;
                        border: 2px solid $black10;
                        border-radius: 2px;

                        &:hover {
                            border-color: $black50;
                            color: $black-hover;
                        }
                    }
                }

                .filter-btn {
                    display: flex;
                    justify-content: space-between;
                    height: auto;
                    border: none;
                    border-radius: 0px;
                    border-bottom: 2px solid $green10;
                    cursor: pointer;
                    margin-bottom: 0px;
                    width: 100%;
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    -ms-word-break: break-all;
                    word-break: break-all;
                    word-break: break-word;
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    text-align: left;
                    color: $black100;
                    padding-top: 0.9rem;
                    padding-bottom: 0.9rem;
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    line-height: 1.25;

                    &:hover {
                        background-color: #eff0ee !important;
                        color: #5a5856 !important;
                    }

                    &:focus {
                        outline-offset: -4px !important;
                        background-color: $green25 !important;
                        color: #5a5856 !important;
                    }
                }

                .no-filter-hits {
                    color: $black-hover;
                    padding-top: 0.9rem;
                    padding-bottom: 0.9rem;
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;
                    line-height: 1.25;
                }

                button.selected {
                    background-color: $green25;
                }

                button:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

//Style for selected filter tags.
.selected-filters {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem;
    margin: 0rem;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brown10;
        height: auto;
        max-height: 52px;
        padding: $space-8;
        margin-right: $space-16;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-bottom: $space-16;
        min-width: 30px;
        text-align: left;

        svg {
            margin-bottom: -2px;
        }

        &:hover {
            background-color: $black10;
            color: $black100;
        }

        &:focus {
            outline: $focus-style;
        }

        &:active {
            color: $green-hover;
        }

        span {
            margin-left: 10px;
        }
    }
}

.mobile-filters {
    margin-bottom: $space-16;
}

@media screen and (min-width: 600px) {
    .mobile-filters {
        display: none;
    }
}

.clear-filters {
    display: none;

    button {
        margin-bottom: $space-16;
    }

    &.show {
        display: block;
    }
}



/*style wrapper to give some space*/
.checkbox__wrapper {
    position: relative;
}

/*style label to give some more space*/
.checkbox__wrapper label {
    display: block;
    padding: 12px 0 12px 44px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


//CUSTOM CHECKBOX FOR API ONLY FILTER
/*style and hide original checkbox*/
.checkbox__wrapper input {
    height: 2.5rem;
    width: 2.5rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

/*position new box*/
.checkbox__wrapper input+label::before {
    border: 2px solid $green100;
    border-radius: 2px;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    margin-top: $space-8;
    margin-bottom: $space-8;
}

/*svg background styles*/
.checkbox__wrapper input+label::after {
    content: "";
    opacity: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 1rem;
    width: 1rem;
    left: 0.5rem;
    top: 1rem;
    cursor: pointer;
}

/*Show checked*/
.checkbox__wrapper input:checked+label::after {
    opacity: .7;
}

/*focus styles*/
.checkbox__wrapper input:focus+label::before {
    outline: $focus-style;
    outline-offset: $focus-offset;
}

.no-focus-outline {
    .checkbox__wrapper input:focus+label::before {
        outline: none;
    }
}

.search-tip__btn {
    border: none;
    padding: 0rem;
    background-color: $white;
    text-decoration: underline;
    color: $black100;

    &:hover {
        text-decoration: none;
        color: $black100;
    }

    &:focus {
        outline-offset: 0px !important;
    }
}

.search-tip__modal {
    display: none;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    border-radius: 2px;

    &.show-tip {
        display: block;
        opacity: 1;
        max-width: 40.1rem;
        width: 100%;
        height: auto;
        background-color: $orange10;
        margin-bottom: 1.5rem;
    }

    .search-tip__modal-wrapper {
        position: relative;
        flex-direction: column;
        padding: $space-16;

        span {
            display: block;

            &.text-7 {
                margin-bottom: 0.5rem;
            }

            a:hover {
                background-color: $pink10;
                filter: brightness(0.94);
            }
        }

        .close-modal__btn {
            position: absolute;
            height: fit-content;
            padding: 0.25rem;
            top: 0.25rem;
            right: 0.25rem;
            border: none;
            background-color: $orange10;

            &:hover {
                filter: brightness(0.94);
            }

            span {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.check {
    display: block;
    position: relative;
    padding-bottom: 0.75rem;
    margin-left: 0.5rem;
    min-height: 1rem;
    min-width: 1rem;
    border: 0.063rem solid $black-hover;
    border-radius: 0.125rem;
    padding: 0.125rem;
}

.selected {
    .check {
        &::after {
            content: "";
            position: absolute;
            width: 0.68rem;
            height: 0.35rem;
            border-left: 0.125rem solid;
            border-bottom: 0.125rem solid;
            border-color: $black100;
            transform: rotate(-45deg);
            padding: 0.125rem;
        }
    }
}


//Search toolbar
.search-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

//Show more filters
.more-filters-btn {
    border: none;
    color: $black100;
    padding: 0;
    height: max-content;
    text-decoration: underline;
    font-size: .875rem;
    line-height: 1.25rem;

    &:hover {
        color: $black100;
        text-decoration: none;
    }

    svg {
        margin-left: .25rem;
        position: relative;
        top: 1px;
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}


.search-filter-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 41.1rem;

    @media screen and (max-width: 37.5em) {
        flex-direction: column;
    }
}

//Hide and show more filters
.compact-filters {

    .search-filter:nth-of-type(5),
    .search-filter:nth-of-type(6) {
        display: none;

        @media screen and (max-width: 600px) {
            display: block;
        }
    }
}