//General styles for wrapping container etc.

@import 'scss/general/variables.scss';

//Background-color for root
//Max-width for content
#root {
    background-color: $bg-color;

    #top {
        max-width: 80rem;
        margin: auto;
    }
}

//Main wrapping container
.main-container {
    max-width: $page-width;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 74rem) {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: none;
    }
}

//For screenreaders
.screen-reader {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.row {
    display: flex;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.beta_badge {
    color: $white !important;
    margin-left: $space-8;
    padding: 0.03rem 0.20rem;
    background-color: $brown100;
    border-radius: 3px;
    width: fit-content;
    text-transform: uppercase;
}

.beta_badge--lg {
    color: $white !important;
    margin-left: $space-16;
    padding: 0.03rem 0.20rem;
    background-color: $brown100;
    border-radius: 3px;
    margin-bottom: 1.125rem;

    @media screen and (max-width: 37.5rem) {
        margin-bottom: 0rem;
    }

}

.beta_badge--xl {
    display: block;
    color: $white !important;
    padding: 0.03rem 0.20rem;
    background-color: $brown100;
    border-radius: 3px;
    margin-bottom: $space-16;
    width: max-content;
}

//Remove focus before tabbing..
.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus,
.no-focus-outline input[type="radio"]:focus,
.no-focus-outline textarea:focus,
.no-focus-outline select:focus {
    outline: none !important;
}

//Focus for most elements
html a:focus,
html button:focus,
html input:focus,
html input[type="radio"]:focus,
html textarea:focus,
html select:focus {
    outline: $focus-style !important;
    outline-offset: $focus-offset !important;
    transition: outline-offset 0s !important;
}

//Skip to content without js.
.skiptocontent_nojs {
    display: none;
    padding: $space-16;
    background-color: $green10;
    color: $black100;
    border-radius: 2px;

    &:focus {
        display: block;
        outline: $focus-style;
        outline-offset: $focus-offset;
    }
}

//Disabled link boxes
.disabled-linkbox {
    position: relative;
    background-color: rgba(240, 239, 238, 1) !important;

    cursor: default !important;

    a,
    span,
    p {
        color: #646363 !important;
    }
}

//Soon badge
.soon {
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    background-color: transparent !important;
    right: $space-8;
    top: $space-8;
    text-align: right;
    width: 210px;
    color: #646363;
    cursor: default !important;

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

.link-wrapper {
    .soon {
        top: auto;
        bottom: 10px;
    }
}

//View more link
.view-more-link {
    align-self: flex-start;
}