// Colors
$pink100:#CD7A6E;
$pink50: #E3A79C;
$pink25: #EBC0B8;
$pink10: #F7E4E1;

$green100:#5A6751;
$green50:#ACB3A8;
$green25:#D6D9D3;
$green10:#EFF0EE;

$orange100:#D59151;
$orange50:#E9BE95;
$orange25:#F4E0CE;
$orange10:#FBF3EB;

$brown100:#695F59;
$brown50:#968F8B;
$brown25:#B4AFAC;
$brown10:#F0EFEE;

$black100:#2B2A29;
$black50:#949494;
$black10:#E8E8E8;

$white:#FFFFFF;

$green-hover: #657C54;

$black-hover:#5A5856;

$focus-color:#695F59;


// Focus
$focus-style: 3px dotted #2B2A29;
$focus-offset:3px;

//Page width
$page-width: 1152px;

// Spaces
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-48: 48px;
$space-64: 64px;
$space-96: 96px;
$space-114: 144px;


