// Colors
$pink100:#CD7A6E;
$pink50: #E3A79C;
$pink25: #EBC0B8;
$pink10: #F7E4E1;

$green100:#5A6751;
$green50:#ACB3A8;
$green25:#D6D9D3;
$green10:#EFF0EE;

$orange100:#D59151;
$orange50:#E9BE95;
$orange25:#F4E0CE;
$orange10:#FBF3EB;

$brown100:#695F59;
$brown50:#968F8B;
$brown25:#B4AFAC;
$brown10:#F0EFEE;

$black100:#2B2A29;
$black50:#949494;
$black10:#E8E8E8;

$white:#FFFFFF;

$bg-color:#E4E4E4;

$green-hover: #657C54;

$pink-hover: #B25F53;

$black-hover:#5A5856;

$focus-color:#695F59;

$dark-orange: #C98545;

// Focus
$focus-style: 3px dotted #2B2A29;
$focus-offset:3px;

//Page width
$page-width: 72rem;

// Spaces
//px/rem
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-48: 3rem;
$space-64: 4rem;
$space-96: 6rem;
$space-114: 9rem;
