.hidden {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-2 {
  @include truncate-multiline();
  -webkit-line-clamp: 2;
}

.truncate-3 {
  @include truncate-multiline();
  -webkit-line-clamp: 3;
}

.truncate-4 {
  @include truncate-multiline();
  -webkit-line-clamp: 4;
}
