@import 'scss/general/variables.scss';


.breadcrumb {
    margin-bottom: $space-16;

    @media screen and (max-width: 74rem) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .breadcrumb__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        word-break: keep-all;
        list-style: none;
        padding: 0px;
        max-width: 72rem;
        margin: auto;
        padding-top: $space-8;
        padding-bottom: 0.625rem;

        .breadcrumb__list--item {
            padding-top: $space-8;
            padding-bottom: $space-8;

            a {
                margin-right: $space-8;
                text-decoration: underline;
                color: $black100;

                @media screen and (max-width: 550px) {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 15vmin;
                }


                &::first-letter {
                    text-transform: uppercase;
                }

                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &:nth-of-type(3) {
                a {
                    display: block;
                    max-width: 25vmin;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (max-width: 550px) {
                        max-width: 15vmin;
                    }
                }
            }

            &:last-of-type {
                a {
                    text-decoration: none;
                    cursor: default;
                    margin-right: 0;

                    &:focus {
                        outline: none !important;
                    }

                    display: block;
                    max-width: 52vmin;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (max-width: 550px) {
                        max-width: 38vmin;
                    }

                    &:empty::after {
                        content: ". . .";
                    }
                }
            }

            &:not(:first-of-type) {
                display: flex;
                align-items: center;

                &:empty::after {
                    content: ". . .";
                }

                &::before {
                    content: "/";
                    text-decoration: none !important;
                    display: inline-block;
                    padding-right: $space-8;
                    color: $green50;
                }
            }
        }
    }
}