/* Code blocks styling */
code[class*="language-"],
pre[class*="language-"] {
  @apply hyphens-none whitespace-pre break-normal bg-none text-left font-ubuntu text-md tracking-normal text-white;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  @apply bg-brown-400;
}

/* Code blocks */
pre[class*="language-"] {
  @apply overflow-auto p-lg pl-md;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-brown-900;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  @apply p-xs;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-brown-500;
}

.token.punctuation {
  @apply text-brown-200;
}

.token.namespace {
  @apply opacity-75;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-brown-100;
}

.token.selector,
.token.boolean,
.token.number,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-orange-600;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-brown-400;
}

.token.string {
  @apply text-green-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-red-400;
}

.token.function,
.token.class-name {
  @apply text-primary;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-red-400;
}

.token.important,
.token.bold {
  @apply font-strong;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  @apply cursor-help;
}

pre[class*="language-"].line-numbers {
  @apply relative pl-[60px];
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code,
div.code-toolbar {
  @apply relative;
}

.line-numbers .line-numbers-rows {
  @apply pointer-events-none absolute -left-md top-none w-xl -translate-x-full border-r-2 border-r-primary pr-sm;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  @apply block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  @apply block text-right text-brown-100;
  content: counter(linenumber);
}

div.code-toolbar pre {
  @apply focus:outline-dashed focus:outline-[3px] focus:outline-offset-2 focus:outline-primary;
}

div.code-toolbar > .toolbar {
  @apply absolute right-lg top-lg z-20;
}

div.code-toolbar > .toolbar button {
  @apply z-20 cursor-pointer bg-brown-600 p-sm hover:bg-primary focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-white;
}

div.code-toolbar > .toolbar span {
  @apply inline-block h-[24px] w-[24px] bg-brown-100 p-sm text-[0];
}

div.code-toolbar > .toolbar button[data-copy-state="copy"] > span {
  -webkit-mask: url("../assets/icons/copy.svg") no-repeat 50% 50%;
  mask: url("../assets/icons/copy.svg") no-repeat 50% 50%;
}

div.code-toolbar > .toolbar button[data-copy-state="copy-success"] > span {
  -webkit-mask: url("../assets/icons/checkCircle.svg") no-repeat 50% 50%;
  mask: url("../assets/icons/checkCircle.svg") no-repeat 50% 50%;
}

div.code-toolbar > .toolbar button[data-copy-state="copy-error"] > span {
  -webkit-mask: url("../assets/icons/alertError.svg") no-repeat 50% 50%;
  mask: url("../assets/icons/alertError.svg") no-repeat 50% 50%;
}
