@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@/styles/entryscape.css";
@import "@/styles/codeBlock.css";

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-style: light;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Ubuntu";
  src:
    url("/fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

body {
  background: linear-gradient(
    90deg,
    rgba(205, 122, 110, 0.03) 0%,
    rgba(205, 122, 110, 0.09) 100%
  );
}

@layer base {
  a {
    @apply text-md underline underline-offset-4;
  }

  .outline-out {
    outline-style: groove;
    outline-width: 2px;
  }

  .button {
    @apply flex w-fit flex-row items-center no-underline focus:outline-offset-2 focus:outline-primary disabled:cursor-not-allowed 
    disabled:border-none disabled:bg-brown-400 disabled:text-brown-600 disabled:hover:bg-brown-400
     [&_path]:disabled:fill-brown-600 [&_svg]:inline-flex;
  }
  .button--primary {
    @apply bg-brown-600 text-brown-100 hover:bg-brown-800 focus:bg-brown-800 group-hover:!bg-brown-800 
    group-focus:bg-brown-800 [&_path]:fill-brown-100;
  }
  .button--primary.active {
    @apply !bg-brown-800 [&_path]:fill-brown-100;
  }
  .button--secondary {
    @apply border-2 border-brown-600 bg-transparent text-brown-600 hover:bg-whiteOpaque5 focus:bg-whiteOpaque5
    group-hover:bg-brown-800 group-hover:bg-whiteOpaque5 group-focus:bg-whiteOpaque5 [&_path]:fill-brown-600;
  }
  .button--secondary.active {
    @apply bg-brown-600 text-white [&_path]:fill-white [&_svg]:rotate-180;
  }
  .button--plain {
    @apply text-brown-600 hover:bg-brown-200 focus:bg-brown-200 group-hover:bg-brown-200 group-focus:bg-brown-200 
    [&_path]:fill-brown-600;
  }
  .button--plain.active {
    @apply [&_svg]:rotate-180;
  }
  .button--filter {
    @apply bg-brown-800 text-white [&_path]:fill-white;
  }
  .button--xs {
    @apply gap-sm px-md py-[2px] text-sm;
  }
  .button--small {
    @apply h-[32px] gap-sm px-md text-sm;
  }
  .button--large {
    @apply h-[44px] gap-sm px-md text-md;
  }
}

/* Custom styling for Statistics Graph */
.hide-odd-stat .rv-xy-plot__axis__tick {
  display: none;
}
.hide-odd-stat .rv-xy-plot__axis__tick:first-child {
  display: block;
}
.hide-odd-stat .rv-xy-plot__axis__tick:last-child {
  display: block;
}
@screen md {
  .hide-odd-stat .rv-xy-plot__axis__tick {
    display: block;
  }
  .hide-odd-stat .rv-xy-plot__axis__tick:nth-child(even) {
    display: none;
  }
}

* {
  font-family: Ubuntu, sans-serif;
}

a {
  scroll-behavior: smooth;
}

/* General styling for the table */
table {
  @apply !my-lg w-full table-auto border-collapse border border-brown-200;
}

table caption {
  @apply mb-sm text-start font-strong;
}

table thead {
  @apply bg-brown-500 text-left text-white;
}

table thead th {
  @apply whitespace-normal border border-brown-200 p-sm font-strong;
}

table tbody {
  @apply border-collapse;
}

table tbody td {
  @apply border border-brown-200 p-sm;
}

/* General styling for mark */
mark {
  @apply bg-red-400;
}

/* General styling for focus */
button:focus:not(:focus-visible),
a:focus:not(:focus-visible),
.button:focus:not(:focus-visible),
input[type="radio"]:focus:not(:focus-visible) {
  @apply !outline-none group-focus:outline-none;
}

.button:focus:not(:focus-visible):not(:hover) {
  background-color: initial;
}

a:focus-visible,
button:focus-visible,
.button:focus-visible,
input[type="radio"]:focus-visible {
  @apply outline-dashed outline-2 outline-offset-2 outline-primary group-focus:outline-dashed 
  group-focus:outline-2 group-focus:outline-offset-2 group-focus:outline-primary;
}
