@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Light.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
  font-style: light;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Ubuntu";
  src:
    url("/fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2"),
    url("/fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@layer base {
  a {
    @apply text-md text-green-600 underline underline-offset-4;
  }
  .hide-odd-stat .rv-xy-plot__axis__tick {
    display: none;
  }
  .hide-odd-stat .rv-xy-plot__axis__tick:first-child {
    display: block;
  }
  .hide-odd-stat .rv-xy-plot__axis__tick:last-child {
    display: block;
  }
  @screen md {
    .hide-odd-stat .rv-xy-plot__axis__tick {
      display: block;
    }
    .hide-odd-stat .rv-xy-plot__axis__tick:nth-child(even) {
      display: none;
    }
  }
}

