.menu {
  background: #202020;
  z-index: 10000;
  position: absolute;
  right: 0;
  height: 100%;
  animation: 0.5s slide-left ease-out;
  margin-left: 100%;
  margin-top: 106px;
  min-width: 100vw;
  box-shadow: -20px 0px 50px -12px #00000040;

  @media screen and (min-width: "300px") {
    min-width: 300px;
  }
  @media screen and (min-width: "600px") {
    margin-top: 134px;
  }

  @media screen and (min-width: "1024px") {
    margin-top: 144px;
  }
}

.menu-out {
  background: #202020;
  z-index: 10000;
  min-width: 340px;
  position: absolute;
  right: -120%;
  height: 100%;
  animation: 0.5s slide-right ease-out;
  margin-left: 100%;
  margin-top: 114px;
  @media screen and (min-width: "640px") {
    margin-top: 126px;
    min-width: 320px;
  }
  @media screen and (min-width: "1024px") {
    margin-top: 136px;
  }
}

@keyframes slide-left {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-right {
  from {
    right: 0;
  }
  to {
    right: -120%;
  }
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: white;

  &:hover {
    span {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.icon {
  margin: 20px;
  filter: invert(50%) brightness(100%) grayscale(100%);
}

.icon-active {
  margin: 20px;
}

.svg {
  margin: 20px;
  filter: invert(50%) brightness(100%) grayscale(100%);
}

.svg-active {
  margin: 20px;
}

.menu-svg {
  fill: green;
}

.logoTitle {
  display: flex;
  align-items: center;
}

.subMenu {
  padding-left: 0;
}

.subMenuItem {
  list-style: none;
  cursor: pointer;
  color: white;
  padding: 16px 20px 16px 60px;

  &:hover {
    span {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.clickedSubMenu {
  background-color: #362c2b;
  list-style: none;
  cursor: pointer;
  font-weight: 800;
  color: white;
  padding-left: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.clickedMenu {
  background-color: #362c2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    list-style: none;
    cursor: pointer;
    font-weight: 800;
    color: white;
  }
}

.parentClicked {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
